.main-dayBook {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
.middleDiv-dayBook {
  margin-top: 0.1%;
  margin-left: 1%;
  width: 99%;
  height: 9%;
  background-color: white;
}
.middleDiv-part1-dayBook {
  display: flex;
  height: 100%;
  padding: 1%;

  /* background-color: aqua; */
}
.choose-dates-dayBook {
  margin-top: 5px;
  height: 70%;
  width: 20%;
  display: flex;
  /* gap: 6px; */
  margin-left: 2%;

  /* padding-right: 5px; */
  border: 1px solid rgb(210, 208, 208);
  /* border-radius: 4px; */
  /* background-color: bisque; */
}
.between-label-dayBook {
  /* width: 2%; */
  height: 100%;
  width: 25%;
  color: white;
  padding: 5px;

  /* border-radius: 4px; */
  font-weight: 550;
  font-size: small;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* padding: 5px; */
  background-color: gray;
}

.date1-dayBook {
  /* background-color: aqua; */
  margin-left: 10%;
  padding: 0.5%;
  /* width: 30%; */
  color: rgb(45, 14, 117);
}
.from-dayBook {
  height: 50%;
  /* background-color: gainsboro; */
  border: 0px;
  font-size: x-small;
  font-weight: bold;
  color: rgb(45, 14, 117);
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  /* margin-top: auto;
          margin-left: auto; */
}
.to-choose-dates-dayBook {
  /* background-color: rgb(253, 155, 36); */
  font-size: 12px;
  margin-left: 3%;
  /* margin-right: 2%; */
  padding: 1.5%;
}

/* #to-inputType-dayBook {
  height: 100%;
  margin-left: 0.1%;
} */
.allFirms-middleDiv-dayBook {
  /* background-color: chartreuse; */
  /* width: 10%; */
  margin-left: 1%;
  margin-top: 5px;
  height: 70%;
}
#firm-dayBook {
  margin-left: 1%;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: rgb(45, 14, 117);

  font-size: small;
  border: 1px solid rgb(217, 217, 217);
  /* background-color: rgb(48, 121, 185); */
}
.options-middlepart1-dayBook {
  /* background-color: blanchedalmond; */
  margin-top: 0.5%;
  width: 10%;
  height: 100%;
  display: flex;
  margin-right: 1%;
  /* margin-bottom: 1%; */
  margin-left: auto;
}
.option1-dayBook {
  /* background-color: chartreuse; */
  width: 60%;
  margin-right: 7%;
}
.image-option1-dayBook {
  /* background-color: blue; */
  height: 60%;
}
.text1-option1-dayBook {
  /* background-color: rgb(42, 165, 52); */
  margin-top: 5%;
  font-size: x-small;
  font-weight: bold;
}
.option2-dayBook {
  /* background-color: rgb(215, 220, 209); */
  width: 35%;
}
.image-option2-dayBook {
  /* background-color: rgb(255, 0, 0); */
  height: 60%;
}
.text1-option2-dayBook {
  /* background-color: rgb(42, 165, 52); */
  margin-top: 10%;
  font-size: x-small;
  font-weight: bold;
}
.report-middlepart1-dayBook {
  height: 80%;
  width: 80%;
  /* margin-right: 4%; */
  /* background-color: rgb(141, 128, 36); */
}
.print-middlepart1-dayBook {
  height: 80%;
  width: 80%;
}
.middleDiv-part2-dayBook {
  /* margin-top: 1%; */
  height: 40%;
  /* background-color: rgb(39, 179, 17); */
  /* text-align: left; */
  /* display: flex; */
}
.content-middleDiv-part2-dayBook {
  width: 50%;
  height: 100%;
  margin-left: 0.5%;
  display: flex;
  gap: 10px;
  /* background-color: brown; */
}

.lowerDivSale-dayBook-Report {
  width: 99%;
  margin-left: 1%;
  height: 85%;
  /* margin-top: 1%; */
  /* top: 29%; */
  overflow: auto;
  background-color: white;
}
.top-part-A-dayBook {
  display: flex;
  margin-left: 0.5%;
  /* background-color: green; */
}
.search-input-dayBook {
  /* height: 7%; */
  margin: 9px;
  margin-right: auto;
  border-radius: 3px;
  /* outline: 0px; */
  /* border: 0px; */
  border: 1px solid rgb(188, 188, 188);
}
.atTheEndDiv-dayBook {
  display: flex;
  width: 99%;
  margin-left: 1%;
  margin-top: 0.5%;
  height: 6%;
  background-color: white;
}
.text1-dayBook {
  color: rgb(111, 212, 111);
  margin-top: 1%;
  margin-left: 2%;
  font-size: 14px;
  font-weight: bold;
}
.text2-dayBook {
  color: rgb(238, 67, 67);
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 10%;
  font-size: 14px;
  font-weight: bold;
}
.text3-dayBook {
  color: rgb(111, 212, 111);
  margin-top: 1%;
  margin-left: auto;
  margin-right: 1%;
  font-size: 14px;
  font-weight: bold;
}
