.main-partyStatementReport {
  display: block;
  width: 100%;
  height: 100%;
}

.middleDiv-partyStatementReport {
  margin-top: 0.5%;
  margin-left: 1%;
  width: 99%;
  height: 14%;
  background-color: white;
}
.middleDiv-part1-partyStatementReport {
  display: flex;
  height: 60%;
  padding: 1%;

  /* background-color: aqua; */
}

.choose-months-partyStatementReport {
  padding: 0.5%;
  /* background-color: yellow; */
}
#months-partyStatementReport {
  border: none;
  /* height: 100%; */
  width: 100%;
  margin-top: 5px;
  font-size: larger;
  color: rgb(45, 14, 117);
  font-weight: 550;
}
.choose-dates-partyStatementReport {
  margin-top: 5px;
  height: 70%;
  width: 35%;
  display: flex;
  /* gap: 6px; */
  margin-left: 2%;

  /* padding-right: 5px; */
  border: 1px solid rgb(210, 208, 208);
  /* border-radius: 4px; */
  /* background-color: bisque; */
}
.between-label-partyStatementReport {
  /* width: 2%; */
  height: 100%;
  width: 20%;
  color: white;
  padding: 5px;

  /* border-radius: 4px; */
  font-weight: 550;
  font-size: small;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* padding: 5px; */
  background-color: gray;
}

.date1-partyStatementReport {
  /* background-color: aqua; */
  margin-left: 3%;
  padding: 0.5%;
  /* width: 30%; */
  color: rgb(45, 14, 117);
}
.from-partyStatementReport {
  height: 50%;
  /* background-color: gainsboro; */
  border: 0px;
  font-size: x-small;
  font-weight: bold;
  color: rgb(45, 14, 117);
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  /* margin-top: auto;
          margin-left: auto; */
}
.to-choose-dates-partyStatementReport {
  /* background-color: rgb(253, 155, 36); */
  font-size: 12px;
  margin-left: 3%;
  /* margin-right: 2%; */
  padding: 1.5%;
}

.options-middlepart1-partyStatementReport {
  /* background-color: blanchedalmond; */
  margin-top: 0.5%;
  width: 10%;
  height: 100%;
  display: flex;
  margin-right: 1%;
  /* margin-bottom: 1%; */
  margin-left: auto;
}
.option1-partyStatementReport {
  /* background-color: chartreuse; */
  width: 60%;
  margin-right: 7%;
}
.image-option1-partyStatementReport {
  /* background-color: blue; */
  height: 60%;
}
.text1-option1-partyStatementReport {
  /* background-color: rgb(42, 165, 52); */
  margin-top: 5%;
  font-size: x-small;
  font-weight: bold;
}
.option2-partyStatementReport {
  /* background-color: rgb(215, 220, 209); */
  width: 35%;
}
.image-option2-partyStatementReport {
  /* background-color: rgb(255, 0, 0); */
  height: 60%;
}
.text1-option2-partyStatementReport {
  /* background-color: rgb(42, 165, 52); */
  margin-top: 10%;
  font-size: x-small;
  font-weight: bold;
}
.report-middlepart1-partyStatementReport {
  height: 80%;
  width: 80%;
  /* margin-right: 4%; */
  /* background-color: rgb(141, 128, 36); */
}
.print-middlepart1-partyStatementReport {
  height: 80%;
  width: 80%;
}
.middleDiv-searchInput-partyStatementReport {
  margin-top: 0.5%;
  height: 70%;
  margin-left: 3%;
  /* background-color: blue; */
}
.first-input-partyStatementReport {
  height: 100%;
  /* margin: 9px; */
  /* margin-right: auto; */
  /* padding: 1%; */
  border-radius: 4px;
  /* outline: 0px; */
  /* border: 0px; */
  /* background-color: chocolate; */
  border: 1px solid rgb(188, 188, 188);
}

.middleDiv-part2-partyStatementReport {
  /* margin-top: 1%; */
  height: 40%;
  /* background-color: rgb(39, 179, 17); */
  /* text-align: left; */
  /* display: flex; */
}
.content-middleDiv-part2-partyStatementReport {
  width: 30%;
  height: 100%;
  margin-left: 1%;
  display: flex;
  gap: 10px;
  /* background-color: brown; */
}

.content-with-checkBox-partyStatementReport {
  /* display: flex; */
  /* margin-top: 1%; */
  /* width: 25%; */
  /* background-color: yellow; */
}
.checkbox-input-partyStatementReport {
  /* margin-left: 10%; */
  /* margin-right: 5%; */
  /* border-radius: 2px solid black; */
  /* font-size: large; */
  color: grey;
}
.para-inBetween-partyStatementReport {
  font-size: small;
  /* font-weight: bold; */
}

.lowerDivSale-partyStatementReport {
  /* position: absolute; */
  width: 99%;
  margin-left: 1%;

  height: 67%;
  /* margin-top: 1%; */

  /* top: 24%; */
  overflow: auto;
  background-color: white;
}

.atTheEndDiv-partyStatementReport {
  display: block;
  width: 99%;
  margin-top: 0.2%;
  margin-left: 1%;
  height: 18%;
  background-color: white;
}
.firstDiv-atEnd-partyStatementReport {
  /* color: black; */
  /* margin-top: 1%; */
  margin-left: 0.5%;
  color: rgb(45, 43, 43);
  width: 18%;
  margin-right: auto;
  font-size: 16px;
  /* background-color: rgb(55, 0, 255); */
  /* font-weight: bold; */
}
.secondDiv-atEnd-partyStatementReport {
  display: flex;
  margin-top: 1%;
  margin-left: 0.5%;
  height: 80%;
  /* background-color: brown; */
}
.secondDiv-firstPart-partyStatementReport {
  /* background-color: green; */
  /* height: 50%; */
  /* display: block; */
  align-content: left;
  width: 20%;
  margin-right: 5%;
}
.atEnd-text-partyStatementReport {
  font-size: small;
  /* font-weight: bold; */
  /* background-color: aqua; */
}
.atEnd-changetext-partyStatementReport {
  color: rgb(184, 178, 178);
  font-size: small;
  /* font-weight: bold; */

  /* background-color: aqua; */
}
.atEnd-Lasttext-partyStatementReport {
  margin-top: 10%;
  font-size: small;
  /* font-weight: bold; */

  /* background-color: aqua; */
}

.secondDiv-secondPart-partyStatementReport {
  /* background-color: green; */
  /* height: 50%; */
  width: 20%;
  margin-right: 5%;
}

.secondDiv-thirdPart-partyStatementReport {
  /* background-color: green; */
  /* height: 50%; */
  width: 20%;
  margin-right: 5%;
}

.secondDiv-verticalLine-partyStatementReport {
  /* width: 1%; */
  height: 70%;
  margin-left: 2.5%;
  /* margin-right: 2.5%; */
  margin-top: auto;
  margin-bottom: auto;
  /* color: black; */
  border: 0.5px solid rgb(205, 198, 198);
}
.secondDiv-fourthPart-partyStatementReport {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}
.fourthPart-firsttext-partyStatementReport {
  font-weight: bold;
}
.fourthPart-secondtext-partyStatementReport {
  font-weight: bold;
  color: rgb(14, 165, 165);
}
