.main-salePurchaseByPartyGroupReport {
  display: block;
  width: 100%;
  height: 100%;
}

.middleDiv-salePurchaseByPartyGroupReport {
  margin-top: 0.5%;
  margin-left: 1%;
  width: 99%;
  height: 9%;
  background-color: white;
}
.middleDiv-part1-salePurchaseByPartyGroupReport {
  display: flex;
  height: 60%;
  padding: 1%;
  /* background-color: aqua; */
}

.choose-months-salePurchaseByPartyGroupReport {
  padding: 0.5%;
  height: 100%;
  /* background-color: yellow; */
}
#months-salePurchaseByPartyGroupReport {
  border: none;
  /* height: 100%; */
  width: 100%;
  margin-top: 5px;
  font-size: larger;
  color: rgb(45, 14, 117);
  font-weight: 550;
}
.choose-dates-salePurchaseByPartyGroupReport {
  /* margin-left: 1%; */
  /* padding: 0.5%;
          width: 30%; */
  /* margin-left: 1%; */
  /* padding: 0.5%; */
  /* width: fit-content + 50px; */
  height: 100%;
  display: flex;
  gap: 6px;
  margin-left: 1%;
  margin-top: 10px;
  /* padding-right: 5px; */
  border: 1px solid rgb(210, 208, 208);
  border-radius: 4px;
  /* background-color: bisque; */
}

#from-salePurchaseByPartyGroupReport {
  height: 100%;
  /* background-color: gainsboro; */
  border: 0px;
  font-size: small;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  /* margin-top: auto;
          margin-left: auto; */
}
.between-label {
  /* width: 2%; */
  height: 100%;
  /* padding: 2px; */
  /* margin-top: auto; */
  /* margin-left: auto;
          margin-bottom: auto; */
  border-radius: 4px;
  font-weight: 550;
  font-size: small;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* padding: 5px; */
  background-color: rgb(227, 227, 228);
}
#to-salePurchaseByPartyGroupReport {
  /* height: 100%; */
  margin-right: 1%;
  border: 0px;
  font-size: small;
  /* font-weight: 550; */
}
#to-inputType-salePurchaseByPartyGroupReport {
  height: 100%;
  /* margin-left: 0.1%; */
}
#to-label {
  font-weight: 550;
  /* font-size: small; */
}

.options-middlepart1-salePurchaseByPartyGroupReport {
  /* background-color: blanchedalmond; */
  margin-top: 0.5%;
  width: 10%;
  height: 100%;
  display: flex;
  /* margin-left: 1%; */
  /* margin-bottom: 1%; */
  margin-left: auto;
}

.report-middlepart1-salePurchaseByPartyGroupReport {
  height: 100%;
  width: 100%;
  /* margin-right: 4%; */
  /* background-color: rgb(141, 128, 36); */
}
.print-middlepart1-salePurchaseByPartyGroupReport {
  height: 100%;
  width: 100%;
}
.middleDiv-part2-salePurchaseByPartyGroupReport {
  /* margin-top: 1%; */
  height: 40%;
  /* background-color: rgb(39, 179, 17); */
  /* text-align: left; */
  /* display: flex; */
}
.content-middleDiv-part2-salePurchaseByPartyGroupReport {
  width: 50%;
  height: 100%;
  margin-left: 0.5%;
  display: flex;
  gap: 10px;
  /* background-color: brown; */
}
.choose-payment_in-salePurchaseByPartyGroupReport {
  padding: 0.5%;
  width: 20%;
  /* background-color: yellow; */
}

#payment_in-salePurchaseByPartyGroupReport {
  padding: 3%;
  width: 100%;
  border: 1px solid rgb(170, 170, 170);
  outline: none;
  border-radius: 4px;
  font-size: small;
  color: rgb(28, 28, 39);
  font-weight: bold;
}
.lowerDivSale-salePurchaseByPartyGroupReport {
  /* position: absolute; */
  width: 99%;
  margin-left: 1%;

  height: 82%;
  margin-top: 1%;
  /* display: flex; */
  /* top: 24%; */
  overflow: auto;
  background-color: white;
}
.lowerDiv-content-salePurchaseByPartyGroupReport {
  font-weight: bold;
  font-size: small;
  /* background-color: bisque; */
  margin: 9px;
}
.top-part-A-salePurchaseByPartyGroupReport {
  display: flex;
  margin-left: 0.5%;
  /* background-color: green; */
}
.transaction-salePurchaseByPartyGroupReport {
  text-align: left;
  margin: 10px;
  font-weight: 550;
}
.search-input-salePurchaseByPartyGroupReport {
  /* height: 7%; */
  margin: 9px;
  margin-left: auto;
  border-radius: 3px;
  /* outline: 0px; */
  /* border: 0px; */
  border: 1px solid rgb(188, 188, 188);
}
.atTheEndDiv-salePurchaseByPartyGroupReport {
  display: flex;
  width: 99%;
  margin-top: 0.2%;
  margin-left: 1%;
  height: 5%;
  background-color: white;
}
.text1-salePurchaseByPartyGroupReport {
  color: rgb(20, 186, 186);
  margin-top: 1%;
  margin-left: 0.5%;
  font-size: 14px;
  /* font-weight: bold; */
}

.text3-salePurchaseByPartyGroupReport {
  color: rgb(225, 23, 23);
  margin-top: 1%;
  margin-left: auto;
  margin-right: 0.5%;
  font-size: 14px;
  /* font-weight: bold; */
}
