.main-paymentIn {
  display: block;
  width: 100%;
  height: 100%;
}

.upperDiv-paymentIn {
  /* same as dashboar,see later */
  /* position: absolute; */
  width: 100%;
  height: 8%;
  /* display: block; */
  /* margin-bottom: 10%; */
  background-color: white;
}

.upperDivPart1-paymentIn {
  display: flex;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* ye yahan par parties
      wale css se alg hai.. aur upar
      upperDiv define kiya hua
      ..kam toh ban gya par samajh nahi aya */
  /* background-color: brown; */
}

.marginDiv-paymentIn {
  display: flex;
  margin-left: auto;
  /* margin mene upar  wala change kiya hai */
  /* padding: 1%; */
  /* margin-right:1%; */
  width: 60%;
  justify-content: right;
  /* background-color: aqua; */
}
.input-business-paymentIn {
  /* margin-left: 2%; */
  /* padding:01%; */
  /* background-color: yellow; */
  margin-top: 1%;
  width: 30%;
  height: 60%;
}
/* .horizontal-line-paymentIn{
      width:100%;
      height: 1%;
      background-color: rgb(173, 171, 171);
      
    } */
.horizontal-line-paymentIn {
  width: 100%;
  height: 1%;
  background-color: rgb(173, 171, 171);
  /* margin-top:7%; */
}
#business-entry-paymentIn {
  /* font-size: 130%;
  height: 50%;
  width: 80%; */
  font-size: 120%;
  /* height: 60%; */
  width: 80%;
  outline: none;
  border: 0px;
}
#business-name-save-btn-paymentIn {
  opacity: 0;
  background-color: #00a2ed;
  color: white;
  font-size: small;
  font-weight: 600;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  border: 0px;
  margin-left: 6px;
}
#business-entry-paymentIn:focus {
  border-bottom: 1px solid black;
}
#business-entry-paymentIn:focus + #business-name-save-btn-paymentIn {
  border-bottom: 1px solid black;
  opacity: 1;
}
.saleBtnDiv-paymentIn {
  display: flex;
  /* margin-right: auto; */
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 15%;
  height: 60%;
  background-color: rgba(255, 229, 233, 255);
  border-radius: 24px;
  gap: 5px;
  margin-top: auto;
  margin-bottom: auto;
  /* background-color: bisque; */
}
.saleBtnDiv-paymentIn:hover {
  /* background-color: rgb(242, 110, 110); */
  width: 16%;
  height: 61%;
}
.purchaseBtnDiv-paymentIn {
  display: flex;
  /* margin-right: auto; */
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 18%;
  height: 60%;
  background-color: rgba(210, 233, 255, 255);
  border-radius: 24px;
  gap: 5px;
  margin-top: auto;
  margin-bottom: auto;
  /* background-color: bisque; */
}
.purchaseBtnDiv-paymentIn:hover {
  /* background-color: rgb(124, 124, 248); */

  width: 20%;
  height: 61%;
}
.moreBtnDiv-paymentIn {
  display: flex;
  /* margin-right: auto; */
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  width: 14%;
  height: 60%;
  background-color: white;
  border-radius: 24px;
  border: 1px solid rgb(0, 128, 255);
  gap: 5px;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-top: 0.5%; */
  /* background-color: bisque; */
}
.moreBtnDiv-paymentIn:hover {
  width: 15%;
  height: 61%;
}
.addBtnSale-paymentIn {
  color: red;
  font-size: small;
  font-weight: 550;
  font-family: "Cosmic", sans-serif;
  /* position: absolute; */
  /* background-color: red; */
  /* border: 0; */
  /* border-radius: 24px; */
  /* margin: auto; */
  margin-top: auto;
  /* transform: translate(-50%, -50%); */
  margin-bottom: auto;
}
.addBtnPurchase-paymentIn {
  color: rgb(41, 155, 236);
  font-size: small;
  font-weight: 700;
  background-color: rgba(210, 233, 255, 255);
  border: 0;
  border-radius: 24px;
  margin-top: auto;
  margin-bottom: auto;
}
.addBtnMore-paymentIn {
  color: rgb(0, 128, 255);
  font-size: small;
  font-weight: 700;
  background-color: white;
  border: 0;
  border-radius: 24px;
  margin-top: auto;
  margin-bottom: auto;
}
.vertical-line-upperPart-paymentIn {
  /* width: 1%; */
  height: 40%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: auto;
  margin-bottom: auto;
  /* color: black; */
  border: 0.5px solid rgb(205, 198, 198);
}
.plusSaleMore-paymentIn {
  color: rgb(0, 128, 255);
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
}
.plusSale-purchase-paymentIn {
  color: white;
  position: absolute;
  margin-left: 0.6%;
  margin-top: 0.6%;
  margin-right: 10vw;
}
.plusSale-paymentIn {
  color: red;
  /* position: absolute; */
  /* background-color: #00a2ed; */
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
  /* margin-top: 1%; */
  /* font-weight: 900; */
}
.plusPurchase-paymentIn {
  color: rgb(41, 155, 236);
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
}
.settingBtnDiv-paymentIn {
  width: 5%;
  /* margin-top: 0.5%; */
  /* background-color: beige; */
  /* margin-top: 2%; */
}
.setting-paymentIn {
  /* margin-top: 0%; */
  /* margin-left: 2%; */
  width: 100%;
  height: 70%;
  /* flex-basis: 60%; */
}
.settingBtnDiv-upperPart-paymentIn {
  width: 3%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2.5%;
  /* background-color: beige; */
  /* margin-top: 2%; */
}
.setting-upperPart-paymentIn {
  /* margin-top: 0%; */
  /* margin-left: 2%; */
  width: 100%;
  height: 70%;
  /* flex-basis: 60%; */
  color: rgb(166, 163, 163);
}
.setting-paymentIn:hover {
  color: #00a2ed;
  cursor: pointer;
}
.middleDiv-paymentIn {
  margin-top: 0.5%;
  margin-left: 1%;
  width: 99%;
  height: 14%;
  background-color: white;
}
.middleDiv-part1-paymentIn {
  display: flex;
  height: 60%;
  padding: 1%;

  /* background-color: aqua; */
}

.choose-months-paymentIn {
  padding: 0.5%;
  /* background-color: yellow; */
}
#months-paymentIn {
  border: none;
  /* height: 100%; */
  width: 100%;
  margin-top: 5px;
  font-size: larger;
  color: rgb(45, 14, 117);
  font-weight: 550;
}
.choose-dates-paymentIn {
  margin-top: 5px;
  height: 70%;
  width: 30%;
  display: flex;
  /* gap: 6px; */
  margin-left: 2%;

  /* padding-right: 5px; */
  border: 1px solid rgb(210, 208, 208);
  /* border-radius: 4px; */
  /* background-color: bisque; */
}
.between-label-paymentIn {
  /* width: 2%; */
  height: 100%;
  width: 20%;
  color: white;
  padding: 5px;

  /* border-radius: 4px; */
  font-weight: 550;
  font-size: small;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* padding: 5px; */
  background-color: rgb(165, 163, 163);
}

.date1-paymentIn {
  /* background-color: aqua; */
  margin-left: 3%;
  padding: 0.5%;
  /* width: 30%; */
  color: rgb(45, 14, 117);
}
.from-paymentIn {
  height: 50%;
  /* background-color: gainsboro; */
  border: 0px;
  font-size: x-small;
  font-weight: bold;
  color: rgb(45, 14, 117);
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  /* margin-top: auto;
          margin-left: auto; */
}
.to-choose-dates-paymentIn {
  /* background-color: rgb(253, 155, 36); */
  font-size: 12px;
  margin-left: 3%;
  /* margin-right: 2%; */
  padding: 1.5%;
}

.options-middlepart1-paymentIn {
  /* background-color: blanchedalmond; */
  margin-top: 0.5%;
  width: 10%;
  height: 100%;
  display: flex;
  margin-right: 1%;
  /* margin-bottom: 1%; */
  margin-left: auto;
}
.option1-paymentIn {
  /* background-color: chartreuse; */
  width: 60%;
  margin-right: 7%;
}
.image-option1-paymentIn {
  /* background-color: blue; */
  height: 60%;
}
.text1-option1-paymentIn {
  /* background-color: rgb(42, 165, 52); */
  margin-top: 5%;
  font-size: x-small;
  font-weight: bold;
}
.option2-paymentIn {
  /* background-color: rgb(215, 220, 209); */
  width: 35%;
}
.image-option2-paymentIn {
  /* background-color: rgb(255, 0, 0); */
  height: 60%;
}
.text1-option2-paymentIn {
  /* background-color: rgb(42, 165, 52); */
  margin-top: 10%;
  font-size: x-small;
  font-weight: bold;
}
.report-middlepart1-paymentIn {
  height: 80%;
  width: 80%;
  /* margin-right: 4%; */
  /* background-color: rgb(141, 128, 36); */
}
.print-middlepart1-paymentIn {
  height: 80%;
  width: 80%;
}
.middleDiv-part2-paymentIn {
  /* margin-top: 1%; */
  height: 40%;
  /* background-color: rgb(39, 179, 17); */
  /* text-align: left; */
  /* display: flex; */
}
.content-middleDiv-part2-paymentIn {
  width: 50%;
  height: 100%;
  margin-left: 0.5%;
  display: flex;
  gap: 10px;
  /* background-color: brown; */
}
.choose-payment_in-paymentIn {
  padding: 0.5%;
  /* background-color: yellow; */
}
/* #paymentin-paymentIn {
  border: none;
  height: 100%;
  width: 100%;
} */

#payment_in-paymentIn {
  padding: 3%;
  width: 90%;
  border: 1px solid rgb(170, 170, 170);
  outline: none;
  border-radius: 4px;
  font-size: small;
  color: rgb(28, 28, 39);
  font-weight: bold;
}
.lowerDivSale-paymentIn {
  /* position: absolute; */
  width: 98%;
  margin-left: 1%;

  height: 74%;
  margin-top: 1%;

  /* top: 24%; */
  overflow: auto;
  background-color: white;
}

.top-part-A-paymentIn {
  display: flex;
  margin-left: 0.5%;
  /* background-color: green; */
}
.transaction-paymentIn {
  text-align: left;
  margin: 10px;
  font-weight: 550;
}
.search-input-paymentIn {
  /* height: 7%; */
  margin: 9px;
  margin-right: auto;
  border-radius: 3px;
  /* outline: 0px; */
  /* border: 0px; */
  border: 1px solid rgb(188, 188, 188);
}

.addBtnSale-sale2-paymentIn {
  height: 4vh;
  width: 10vw;
  margin: auto;
  margin-right: 2%;
  color: white;
  font-weight: 545;
  font-size: medium;
  background-color: rgba(23, 137, 252, 255);
  border: 0;
  border-radius: 8px;
  padding: 0.1%;
}
.printBtnDiv-upperPart-paymentIn {
  width: 3%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
  /* background-color: blanchedalmond; */
}
.print-upperPart-paymentIn {
  width: 100%;
  height: 70%;
  /* background-color: #ed1a3b; */
  /* flex-basis: 60%; */

  color: rgb(166, 163, 163);
}
.plus-paymentIn {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4%;
  font-size: medium;
}
