.main-paymentIn {
  display: block;
  width: 100%;
  height: 100vh;
}

.upperDiv-paymentIn {
  /* same as dashboar,see later */
  /* position: absolute; */
  width: 100%;
  height: 5vh;
  /* display: block; */
  /* margin-bottom: 10%; */
  background-color: white;
}

.upperDivPart1-paymentIn {
  display: flex;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* ye yahan par parties
      wale css se alg hai.. aur upar
      upperDiv define kiya hua
      ..kam toh ban gya par samajh nahi aya */
  /* background-color: brown; */
}

.marginDiv-paymentIn {
  display: flex;
  margin-left: auto;
  /* margin mene upar  wala change kiya hai */
  /* padding: 1%; */
  /* margin-right:1%; */
  width: 60%;
  justify-content: right;
  /* background-color: aqua; */
}
.input-business-paymentIn {
  /* margin-left: 2%; */
  /* padding:01%; */
  /* background-color: yellow; */
  margin-top: 0.5%;
  width: 30%;
  height: 100%;
}
/* .horizontal-line-paymentIn{
      width:100%;
      height: 1%;
      background-color: rgb(173, 171, 171);
      
    } */
#business-entry-paymentIn {
  /* font-size: 130%;
  height: 50%;
  width: 80%; */
  font-size: 120%;
  /* height: 60%; */
  width: 80%;
  outline: none;
  border: 0px;
}
#business-name-save-btn-paymentIn {
  opacity: 0;
  background-color: #00a2ed;
  color: white;
  font-size: small;
  font-weight: 600;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  border: 0px;
  margin-left: 6px;
}
#business-entry-paymentIn:focus {
  border-bottom: 1px solid black;
}
#business-entry-paymentIn:focus + #business-name-save-btn-paymentIn {
  border-bottom: 1px solid black;
  opacity: 1;
}
.saleBtnDiv-paymentIn {
  display: flex;
  /* margin-right: auto; */
  margin-right: 10px;
  width: 20%;
  height: 100%;
  margin-top: 0.5%;
  /* background-color: bisque; */
}
.purchaseBtnDiv-paymentIn {
  display: flex;
  /* margin-right: auto; */
  margin-right: 10px;
  width: 24%;
  height: 100%;
  margin-top: 0.5%;
  /* background-color: bisque; */
}
.moreBtnDiv-paymentIn {
  display: flex;
  /* margin-right: auto; */
  margin-right: 10px;
  width: 20%;
  height: 100%;
  margin-top: 0.5%;
  /* background-color: bisque; */
}
.addBtnSale-paymentIn {
  height: 80%;
  width: 100%;
  color: white;
  font-size: large;
  font-weight: 700;
  background-color: red;
  border: 0;
  border-radius: 24px;
}
.addBtnPurchase-paymentIn {
  height: 80%;
  width: 100%;
  color: white;
  font-size: large;
  font-weight: 700;
  background-color: blue;
  border: 0;
  border-radius: 24px;
}
.addBtnMore-paymentIn {
  height: 80%;
  width: 100%;
  color: blue;
  font-weight: 700;
  /* margin-left: auto; */
  /* margin-left: 7%; */
  font-size: large;
  background-color: white;
  border: 1;
  border-radius: 24px;
  border-color: blue;
}
.plusSaleMore-paymentIn {
  color: blue;
  position: absolute;
  margin-left: 0.8%;
  margin-top: 0.6%;
  margin-right: 10vw;
}
.plusSale-purchase-paymentIn {
  color: white;
  position: absolute;
  margin-left: 0.6%;
  margin-top: 0.6%;
  margin-right: 10vw;
}
.plusSale-paymentIn {
  color: white;
  position: absolute;
  margin-left: 0.8%;
  margin-top: 0.6%;
  margin-right: 10vw;
  /* margin-top: 1%; */
  /* font-weight: 900; */
}
.settingBtnDiv-paymentIn {
  width: 5%;
  margin-top: 0.5%;
  /* background-color: beige; */
  /* margin-top: 2%; */
}
.setting-paymentIn {
  /* margin-top: 0%; */
  /* margin-left: 2%; */
  width: 100%;
  height: 70%;
  /* flex-basis: 60%; */
}

.middleDiv-paymentIn {
  margin-top: 0.5%;
  margin-left: 1%;
  width: 98%;
  height: 9%;
  background-color: white;
}
.middleDiv-part1-paymentIn {
  display: flex;
  height: 60%;
  /* background-color: aqua; */
}

.choose-months-paymentIn {
  padding: 0.5%;
  /* background-color: yellow; */
}
#months-paymentIn {
  border: none;
  height: 100%;
  width: 100%;
  color: rgb(78, 78, 209);
  font-weight: 550;
}
.choose-dates-paymentIn {
  /* margin-left: 1%; */
  /* padding: 0.5%;
  width: 30%; */
  /* background-color: blue; */
  padding: 0.5%;
  width: 40%;
  /* background-color: blue; */
  display: flex;
}
.from-paymentIn {
  background-color: rgb(174, 165, 165);
  font-weight: 550;
  color: white;
}
#from-inputType-paymentIn {
  height: 100%;
  /* margin-left: 0.1%; */
}
.to-paymentIn {
  /* height: 50%; */
}
#to-inputType-paymentIn {
  height: 100%;
  /* margin-left: 0.1%; */
}
#firm-paymentIn {
  margin-left: 1%;
}
.options-middlepart1-paymentIn {
  /* background-color: blanchedalmond; */
  margin-top: 0.5%;
  width: 10%;
  margin-left: auto;
}

.report-middlepart1-paymentIn {
  height: 50%;
  width: 30%;
}
.print-middlepart1-paymentIn {
  height: 50%;
  width: 30%;
}
.middleDiv-part2-paymentIn {
  height: 40%;
  /* background-color: rgb(39, 179, 17); */
  /* text-align: left; */
  /* display: flex; */
}
.content-middleDiv-part2-paymentIn {
  width: 12%;
  height: 100%;
  margin-left: 0.5%;
  /* background-color: brown; */
}
.choose-payment_in-paymentIn {
  padding: 0.5%;
  /* background-color: yellow; */
}
/* #paymentin-paymentIn{
  border: none;
  height: 100%;
  width: 100%;
  
} */

.lowerDivSale-paymentIn {
  position: absolute;
  width: 100%;
  height: 82%;
  top: 16%;
  overflow: auto;
  background-color: white;
}

.top-part-A-paymentIn {
  display: flex;
  margin-left: 1%;
  /* background-color: green; */
}
.transaction-paymentIn {
  text-align: left;
}
.search-input-paymentIn {
  height: 4vh;
  margin: 10px;
  margin-right: auto;
  border-radius: 5px;
  border: 2%;
}

.addBtnSale-sale2-paymentIn {
  height: 4vh;
  width: 12vw;
  /* padding: 0; */
  margin: auto;
  margin-right: 2%;
  color: white;
  font-weight: 500;
  background-color: blue;
  border: 0;
  border-radius: 24px;
}
