.company-body {
  display: flex;
  gap: 10%;
  height: 100%;
  /* width: 50%; */
  /* background-color: bisque; */
}
.my-modal-companyModal {
  width: 40vw;
  margin-left: 30%;
  /* max-width: 30vw; */
  /* justify-content: center; */
}
.left-side-companyModal {
  /* position: relative; */
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  height: 100%;
  font-size: large;
  font-weight: bold;
  /* height: 100%; */
  /* margin-top: auto; */
  /* justify-content: center; */
  /* border: 2px dotted black; */
  /* border-width: 2%; */
  /* background-color: aqua; */
}

.right-side-companyModal {
  display: block;
  width: 40%;
  /* margin-left: 50%; */
  /* background-color: green; */
}

.ctextbox {
  width: 100%;
  margin-top: 8%;
  padding: 5px;
  border: 1px solid rgb(210, 210, 210);
  color: gray;
  border-radius: 4px;
  font-size: 14px;
}
