.contained-modal-title-vcenter {
  /* background-color: rgb(209, 139, 48); */
  width: 50%;
  display: flex;
}
.title-itemsModal {
  font-size: medium;
  font-weight: bold;
  margin-right: 4%;
}
.third-div-part-itemsModal {
  /* background-color: aqua; */
  display: flex;
  color: rgb(180, 176, 176);
  /* font-size: medium; */
  padding: 0.5%;
  font-weight: bold;
  width: 50%;
}
.content-feature-diff-itemsModal {
  margin-left: 2%;
  margin-right: 1%;
  font-size: 14px;
  color: #2196f3;
  /* margin-right: %auto; */
}
.content-feature-tick-itemsModal {
  margin-left: 2%;
  margin-right: 1%;
  font-size: 14px;
  /* margin-right: %auto; */
}

.switch-itemsModal {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch-itemsModal input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderswitch-itemsModal {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sliderswitch-itemsModal:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .sliderswitch-itemsModal {
  background-color: #2196f3;
}

input:focus + .sliderswitch-itemsModal {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .sliderswitch-itemsModal:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.sliderswitch-itemsModal.round {
  border-radius: 34px;
}

.sliderswitch-itemsModal.round:before {
  border-radius: 50%;
}
.body-content-itemModal {
  display: block;
  gap: 5%;
  /* background-color: #2196f3; */
  height: 100%;
}

.upper-input-itemModal {
  display: block;
  gap: 5%;
  /* height: 100%; */

  /* background-color: chocolate; */
}
.upper-input-first-div-main-itemModal {
  /* background-color: cadetblue; */
  display: flex;
  width: 70%;
  /* height: 50%; */
}
.inputTag-main-itemModal {
  border: 1px solid rgb(202, 202, 202);
  /* color: rgb(166, 166, 166); */
  border-radius: 4px;
  display: flex;
  width: 30%;
  padding: 5px;
  margin-right: 2%;
  /* margin-top: 2%; */
  /* background-color: darkkhaki; */
}
.inputTag-third-main-itemModal {
  /* border: 1px solid rgb(202, 202, 202); */
  /* color: rgb(166, 166, 166); */
  outline: none;
  border-radius: 4px;
  /* display: flex; */
  width: fit-content;
  padding: 7px;
  color: #1687e4;
  background-color: #d1e2f0;
  font-size: 14px;
  /* margin-right: 2%; */
  /* margin-top: 2%; */
  /* background-color: darkkhaki; */
}
.upper-input-second-div-main-itemModal {
  /* background-color: rgb(159, 160, 95); */
  display: flex;
  margin-top: 2%;
  width: 70%;
  height: 50%;
  /* height: 48%; */
}
.category-itemModal-dropdown {
  height: 100%;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  outline: none;
  /* border: 0px; */
  border-radius: 4px;
  border: 0px;
  /* border: 1px solid rgb(202, 202, 202); */
  color: rgb(145, 145, 145);
}

.itemsModal-main-dropdown {
  height: 100%;
  width: 50%;
  padding: 5px;
  font-size: 14px;
  outline: none;
  border: 0px;
  /* border: 1px solid rgb(202, 202, 202); */
  color: rgb(166, 166, 166);
  /* border-radius: 4px; */
}
.partiesModal-itemModal-dropdown {
  height: 100%;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  outline: none;
  border: 0px;
  /* border: 1px solid rgb(202, 202, 202); */
  color: rgb(166, 166, 166);
  /* border-radius: 4px; */
}
.info-sign-itemModal {
  margin-top: 2%;
  margin-right: auto;
  margin-right: 2%;
}
.info-sign-new-text-itemModal {
  margin-top: 2%;
  margin-left: auto;
  /* margin-right: 5%; */
  width: fit-content;
  color: #1687e4;
  background-color: #c1d9ec;
  font-weight: bold;
  font-size: 12px;
  border-radius: 18px;
}
.header-options-modal {
  width: fit-content;
  margin-left: auto;
  display: flex;
  gap: 5%;
}
.inputTag-diff-main-itemModal {
  border: 0px;
  outline: none;
  /* color: rgb(166, 166, 166); */
  border-radius: 4px;
  display: flex;
  width: 30%;
  padding: 5px;
  margin-right: 2%;
  /* margin-top: 2%; */
  /* background-color: darkkhaki; */
}
.info-sign-camera-itemModal {
  margin-top: 2%;
  margin-right: auto;
  margin-right: 2%;
  font-size: large;
  color: rgb(171, 171, 240);
}
.itemsModal-diff-main-dropdown {
  height: 100%;
  width: 60%;
  padding: 5px;
  font-size: 14px;
  outline: none;
  border: 0px;
  /* border: 1px solid rgb(202, 202, 202); */
  color: #1687e4;
  /* border-radius: 4px; */
}
.cross-itemsModal {
  /* margin-left: auto;  */
  font-size: x-large;
  cursor: pointer;
  margin-left: 5%;
}

.stock-body-item-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 10%; */
}

.input-box-first-stock-item-modal {
  display: flex;
  flex-direction: row;
  gap: 2%;
  margin-top: 2%;
}

.input-stock-item-modal {
  width: 25%;
  padding: 5px;
  outline: none;
  border-radius: 3px;
  border: 1px solid rgb(216, 216, 216);
  color: gray;
  font-size: small;
}

.input-stock-item-modal:focus {
  border: 1px solid rgb(104, 182, 255);
  outline: none;
  color: black;
}
