#body-content {
  display: block;
  gap: 5%;
  /* background-color: aqua; */
  height: 55vh;
  width: 100%;
}

#upper-input {
  display: flex;
  gap: 5%;
  margin-top: 3%;
}

#contained-modal-title-vcenter {
  font-size: medium;
  font-weight: bold;
  color: rgb(14, 14, 56);
}

.input-parties-modal {
  padding: 5px;
  font-size: 14px;
  outline: none;
  border: 1px solid rgb(202, 202, 202);
  color: rgb(202, 202, 202);
  border-radius: 4px;
}

.cross-partiesModal {
  margin-left: auto;
}

#modal-title-parties {
  width: 100%;
  display: flex;
}
