#body-content {
  display: block;
  gap: 5%;
}

#upper-input {
  display: flex;
  gap: 5%;
}

#body-paymentInModal {
  /* background-color: bisque; */
  width: 100%;
  height: 100%;
  display: flex;
  /* display: grid; */
  /* grid-template-columns: auto auto; */
}

#leftside-paymentInModal {
  display: block;
  width: 50%;
  /* background-color: aquamarine; */
}

.select-paymentInModal {
  width: 50%;
  padding: 2%;
}

.select-paymentInModal:hover {
  border: 2px solid black;
}

#rightside-paymentInModal {
  display: block;
  width: 50%;
  /* background-color: blue; */
}

#upper-block {
  width: 100%;
  /* display: grid;
  grid-template-columns: auto auto;
  gap: 20px; */
  /* border: 2px solid black; */
  /* float: right; */
  /* background-color: blueviolet; */
}

.flex-paymentIn-Modal {
  display: flex;
  gap: 5%;
  margin-bottom: 2%;
}

.small-text {
  font-size: small;
}

.receipt-no-paymentInModal {
  width: 60%;
  border: 0px;
  outline: 0px;
  border-bottom: 1px solid gray;
  margin-left: auto;
}
.date-paymentInModal {
  width: 60%;
  border: 0px;
  outline: 0px;
  margin-left: auto;
  /* border-bottom: 1px solid gray; */
}

.received-paymentInModal {
  width: 60%;
  margin-left: auto;
}
