.sidebar-report {
  height: 100%;
  width: 100%;
  /* display: block; */
  /* background-color: aqua; */
  overflow: auto;
}

.heading-component-sidebar-report {
  position: relative;
  width: 100%;
  height: 8%;
  background-color: rgba(237, 247, 246, 255);
}

.heading-inner-text-sidebar-report {
  font-size: small;
  position: absolute;
  color: gray;
  width: fit-content;
  height: fit-content;
  /* margin-left: 4%; */
  /* margin-top: auto;
  margin-bottom: auto; */
  /* float: left; */
  /* background-color: aquamarine; */
  top: 50%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(0%, -50%);
}

.component-sidebar-report {
  position: relative;
  width: 100%;
  height: 5%;
  background-color: rgb(255, 255, 255);
  align-content: center;
}

.heading-inner-text-component-sidebar-report {
  font-size: 12px;
  position: absolute;
  color: rgb(117, 117, 117);
  width: fit-content;
  height: fit-content;
  font-weight: 550;
  /* margin-top: auto;
    margin-bottom: auto; */
  /* float: left; */
  top: 50%;
  left: 0%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  margin-left: 8%;
  /* background-color: aquamarine; */
}
.heading-inner-text-component-sidebar-report-special {
  font-size: 12px;
  position: absolute;
  color: rgb(117, 117, 117);
  width: fit-content;
  height: fit-content;
  font-weight: 550;
  /* margin-top: auto;
    margin-bottom: auto; */
  /* float: left; */
  top: 50%;
  left: 0%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  margin-left: 8%;
}
