.table-row:hover {
  background-color: rgb(242, 245, 245);
}

.coloumn-1-allPartiesTable {
  width: 1%;
  /* height: 50%; */
  /* background-color: chartreuse; */
}
.coloumn-2-allPartiesTable {
  width: 20%;
  /* height: 50%; */
  /* background-color: chartreuse; */
}
.coloumn-3-allPartiesTable {
  width: 15%;
  /* height: 50%; */
  /* background-color: chartreuse; */
}
.table-header-box-allPartiesTable {
  /* background-color: aqua; */
  display: flex;
  /* padding: 0; */
  /* width: 50%; */
}
/* .coloumn-restOfAll-allPartiesTable {
  width: 30%;
  height: 50%;
  background-color: chartreuse;
} */
