.table-row:hover {
  background-color: rgb(242, 245, 245);
}

.coloumn-1-cashInHandTable {
  width: 10%;
  /* height: 50%; */
  /* background-color: chartreuse; */
}
.coloumn-2-cashInHandTable {
  width: 10%;
  /* height: 50%; */
  /* background-color: chartreuse; */
}
.table-header-box-cashInHandTable {
  /* background-color: aqua; */
  display: flex;
  /* padding: 0; */
  /* width: 50%; */
}
.coloumn-restOfAll-cashInHandTable {
  width: 2%;
}
