.table-row:hover {
  background-color: rgb(242, 245, 245);
}

.coloumn-1-dayBookTable {
  width: 20%;
  /* height: 50%; */
  /* background-color: chartreuse; */
}

.table-header-box-dayBookTable {
  /* background-color: aqua; */
  display: flex;
  /* padding: 0; */
  /* width: 50%; */
}
/* .coloumn-restOfAll-dayBookTable {
    width: 30%;
    height: 50%;
    background-color: chartreuse;
  } */
