.first-row-itemsUnitsTable {
  width: 50%;
}
.second-row-itemsUnitsTable {
  width: 30%;
  /* align-items: right;
  justify-content: right; */
  /* float: right; */
  /* margin-left: 30%; */
  /* background-color: rgb(60, 141, 211); */
}
.third-row-itemsUnitsTable {
  width: 10%;
}
