.table-row:hover {
  /* background-color: rgb(242, 245, 245); */
  background-color: rgb(152, 205, 255);
}

.table-header-parties {
  font-weight: 550;
  font-size: 12;
  color: gray;
}

.table-cell-data-amount {
  font-size: 12;
  color: green;
  font-weight: 600;
  float: right;
  margin-right: 10%;
}

.table-cell-data-names {
  font-size: 14;
  font-weight: 540;
  color: rgb(65, 65, 65);
}

.three-dots-partyName {
  /* background-color: aliceblue; */
  width: fit-content;
  color: black;
  cursor: pointer;
}

.dropdown-btn-parties {
  /* background-color: red; */
  margin-left: 10%;
  position: relative;
  display: inline-block;
  /* background-color: green; */
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.dropdown-content-parties {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
}

.dropdown-btn-parties:hover .dropdown-content-parties {
  display: block;
  right: 10%;
}

.dropdown-option-design-parties {
  padding: 5px;
  font-weight: 100;
}
.dropdown-option-design-parties:hover {
  background-color: rgb(179, 214, 255);
  cursor: pointer;
}

.filter-icon-parties-table {
  color: red;
  font-weight: bold;
  font-size: medium;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-left: auto; */
  float: right;
  /* background-color: antiquewhite; */
}
