.table-row:hover {
  background-color: rgb(242, 245, 245);
}

.coloumn-1-partyWiseProfitAndLossTable {
  width: 1%;
  /* height: 50%; */
  /* background-color: chartreuse; */
}
.coloumn-2-partyWiseProfitAndLossTable {
  width: 25%;
  /* height: 50%; */
  /* background-color: chartreuse; */
}
.table-header-box-partyWiseProfitAndLossTable {
  /* background-color: aqua; */
  display: flex;
  /* padding: 0; */
  /* width: 50%; */
}
/* .coloumn-restOfAll-partyWiseProfitAndLossTable {
   
  } */
