.cvt_2_sale_btn {
  background-color: orange;
  color: white;
  font-weight: bold;
  width: 60%;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.cvt_2_sale_btn:hover {
  background-color: rgb(255, 217, 0);
}
