.table-row-sale-invoice:hover {
  background-color: rgb(198, 234, 255);
}

.table-header-saleInvoice {
  font-weight: 550;
  font-size: 12;
  color: gray;
}

.saleInvoiceTable-table {
  width: 100%;
}
