.table-row:hover {
  background-color: rgb(242, 245, 245);
}

.coloumn-1-salePurchaseByPartyGroupTable {
  width: 50%;
  /* height: 50%; */
  /* background-color: chartreuse; */
}
.table-header-box-salePurchaseByPartyGroupTable {
  /* background-color: aqua; */
  display: flex;
  /* padding: 0; */
  /* width: 50%; */
}
.coloumn-restOfAll-salePurchaseByPartyGroupTable {
  /* width: 30%; */
  /* height: 50%; */
  /* background-color: chartreuse; */
}
