.right-part-Print-invoice {
  /* width: 70%; */
  height: 100%;
  overflow: auto;
  /* margin-left: 15%; */
  width: 210mm;
  background-color: white;
}

.completepage {
  width: 100%;
  height: 100%;
  background-color: rgb(180, 180, 180);
}

.company-logo-img-printv3 {
  width: 98%;
  height: 10%;
  margin-left: 1%;
  display: flex;
  border-bottom: 1px solid rgb(125, 12, 255);
  /* background-color: blueviolet; */
}

.company-img-printv3 {
  width: 12%;
  height: 70px;
  margin-left: 1%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(218, 218, 218);
  text-align: center;
}

.company-signature-PRINT-printv3 {
  width: 25%;
  height: 60px;
  background-color: rgb(215, 215, 215);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 3%;
}

.label-tax-PRINT-printv3 {
  font-size: 14px;
  color: gray;
  /* background-color: aqua; */
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.table-printv3 {
  /* background-color: cadetblue;
  margin-bottom: 50px; */
}
