.titlebar {
  height: 30px;
  background-color: white;
  border-bottom: 1px solid gray;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.titlebar-button:hover {
  /* background: #5bbec3; */
}

.inside-titlebar-index {
  margin-right: auto;
  display: flex;
  width: 30%;
  margin-left: 2%;
  /* background-color: antiquewhite; */
}
.arrow-titlebar-index {
  margin-right: 3%;
  margin-left: 2%;
  margin-bottom: auto;
  margin-top: auto;
}
.content-titlebar-index {
  /* margin-right: auto; */
  font-size: 13px;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 3%;
  color: black;
}

.content-titlebar-index:hover {
  background-color: rgb(215, 215, 215);
}
