.mainBody-Print {
  width: 100%;
  height: 100%;
  background-color: white;
  display: block;
}

.upper-part-Print {
  width: 100%;
  height: 8%;
  display: flex;
  padding-left: 2%;
  border-bottom: 1px solid rgb(188, 188, 188);
  /* background-color: aquamarine; */
}
.options-upper-div-Print {
  width: 14%;
  height: 80%;
  margin-top: auto;
  /* margin-left: 2%; */
  font-size: 16px;
  display: flex;
  /* text-align: center;
  vertical-align: middle; */
  /* justify-content: center; */
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  /* background-color: #ad2876; */
}
.options-upper-div-Print-Selected {
  width: 14%;
  height: 80%;
  margin-top: auto;
  /* margin-left: 2%; */
  font-size: 16px;
  display: flex;
  /* text-align: center;
    vertical-align: middle; */
  /* justify-content: center; */
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(33, 111, 255);
  /* background-color: #ad2876; */
  border: 1px solid rgb(203, 203, 203);
  border-bottom: 2px solid rgb(33, 111, 255);
  cursor: pointer;
}

.cross-Print {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
}
.lower-part-Print {
  width: 100%;
  height: 90%;
  margin-top: 1%;
  display: flex;
  /* background-color: aqua; */
}

.left-part-Print {
  width: 42%;
  height: 100%;
  overflow: auto;
  /* background-color: bisque; */
}

.heading-print-setting {
  width: 90%;
  margin-left: 5%;
  height: fit-content;
  /* background-color: aqua; */
  padding-top: 3%;
  padding-bottom: 2%;
  /* padding-left: 5%; */
  border-bottom: 1px solid rgb(197, 197, 197);
}

.heading-text-div-setting {
  /* background-color: blueviolet; */
  font-weight: 550;
  width: fit-content;
}

.checkbox-data {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-left: 5%;
  /* flex-direction: column; */
  /* background-color: bisque; */
  align-content: center;
  align-items: center;
  /* gap: 4%; */
}

.checkbox-input {
  width: 18px;
  height: 18px;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
  border: none;
  border: 2px solid gray;
}

.checkbox-input:checked::after {
  background-color: aqua;
}
.checkbox-data-text {
  color: rgb(77, 77, 77);
  font-size: 14px;
}

.information-icon-general {
  margin-top: auto;
  margin-bottom: auto;
  color: rgb(171, 171, 171);
  margin-left: 1%;
}
.input-text-PRINT {
  padding: 5px;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 4px;
  font-size: 14px;
}

.input-text-width100-PRINT {
  width: 85%;
  padding: 5px;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 4px;
  font-size: 14px;
}
.template-color-options-PRINT {
  width: 90%;
  margin-left: 5%;
  height: 20%;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}
.tab-layout-options {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: black; */
}

.change-layout-color-btn-PRINT {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  /* background-color: #27da6e; */
}
.inner-text-change-layout-color-btn-PRINT {
  /* margin-top: auto;
  margin-bottom: auto; */
  font-size: 12px;
  margin-top: auto;
  color: rgb(0, 157, 255);
  font-weight: 500;
  cursor: pointer;
  /* vertical-align: middle; */
  /* background-color: #9bbd23; */
}
.inner-text-change-layout-color-btn-PRINT-WT {
  /* margin-top: auto;
    margin-bottom: auto; */
  font-size: 12px;
  color: rgb(138, 138, 138);
  cursor: pointer;
  /* vertical-align: middle; */
  /* background-color: #9bbd23; */
}
.horizontal-red-line-PRINT {
  width: 100%;
  height: 2px;
  margin-top: auto;
  background-color: red;
}
.data-options-PRINT {
  height: 75%;
  width: 100%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 3%;
  border: 1px solid rgb(224, 224, 224);
  /* background-color: rgb(97, 73, 73); */
}

.color-box-PRINT {
  width: 95%;
  margin-left: 2.5%;
  height: 40%;
  display: flex;
  flex-direction: row;
  /* background-color: chartreuse; */
}

.color-data-box-PRINT {
  width: 5%;
  height: 55%;
  border-radius: 100%;
  /* margin-top: 20%; */
  margin-right: 2%;
  top: 50%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(0%, 50%);
  /* margin-bottom: auto; */
  background-color: blueviolet;
}

.dropdown-left-PRINT {
  width: 18%;
  /* height: 35px; */
  padding: 6px;
  margin-left: 10%;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 4px;
  outline: none;
  /* margin-right: auto; */
}
.dropdown-left-PRINT:focus {
  border: 1px solid rgb(77, 77, 255);
}
div.color-data-box-PRINT:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
}
div.color-data-box-PRINT:nth-of-type(2) {
  --offset: 1;
  background-color: #27da6e;
}
div.color-data-box-PRINT:nth-of-type(3) {
  --offset: 1;
  background-color: #9bbd23;
}
div.color-data-box-PRINT:nth-of-type(4) {
  --offset: 1;
  background-color: #d8c21d;
}

div.color-data-box-PRINT:nth-of-type(5) {
  --offset: 1;
  background-color: #ad2876;
}
div.color-data-box-PRINT:nth-of-type(6) {
  --offset: 1;
  background-color: #bb1c3c;
}
div.color-data-box-PRINT:nth-of-type(7) {
  --offset: 1;
  background-color: #5923bd;
}
div.color-data-box-PRINT:nth-of-type(8) {
  --offset: 1;
  background-color: #685e10;
}

.right-part-Print {
  margin-left: 1%;
  width: 54%;
  height: 100%;
  padding-top: 0.5%;
  display: block;
  border: 1px solid rgb(205, 205, 205);
  overflow: auto;
  /* background-color: rgb(99, 80, 56); */
}

.company-logo-img {
  width: 98%;
  height: 10%;
  margin-left: 1%;
  display: flex;
  border-bottom: 1px solid rgb(125, 12, 255);
  /* background-color: blueviolet; */
}

.company-img {
  width: 12%;
  height: 80%;
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(218, 218, 218);
  text-align: center;
}

.company-name-no {
  width: 20%;
  height: 80%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1%;
  /* background-color: rgb(218, 218, 218); */
  display: block;
}

.company-name {
  font-size: large;
  font-weight: bold;
  /* margin-left: auto; */
  /* background-color: aqua; */
  text-align: end;
}

.phone-no-company {
  font-size: 12px;
  /* margin-left: auto; */
  text-align: end;
}
.billing-details-text {
  font-size: 12px;
  text-align: start;
}
.sale-heading-Print {
  width: 98%;
  margin-left: 1%;
  padding: 1%;
  font-weight: 600;
  color: rgb(148, 55, 255);
  border-bottom: 1px solid rgb(125, 12, 255);
  /* background-color: aqua; */
}

.below-sale-heading {
  width: 98%;
  margin-left: 1%;
  height: 16%;
  margin-top: 2%;
  display: flex;
  /* background-color: bisque; */
}

.partA-billTo-Print {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;

  /* background-color: aquamarine; */
}

.partB-shippingTo-Print {
  width: 30%;
  height: 100%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.partC-dateTime-Print {
  width: 20%;
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.heading-Print {
  /* width: 100%; */
  width: fit-content;
  font-size: 13px;
  font-weight: 600;
  margin-right: auto;
  float: left;
  margin-bottom: 5px;
  /* background-color: azure; */
}

.dateTime-detail-text {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 600;
  text-align: end;
}

.margin-top-div-PRINT {
  margin-top: auto;
}

.margin-bottom-div-PRINT {
  margin-bottom: 10%;
}

.table-part1-PRINT {
  width: 98%;
  margin-left: 1%;
  height: 20%;
  /* background-color: aqua; */
}

.below-table-div-PRINT {
  width: 98%;
  margin-left: 1%;
  height: 66%;
  margin-top: 4%;
  display: flex;
  /* background-color: antiquewhite; */
}

.invoice-detail-box_PRINT {
  width: 45%;
  height: 100%;
  /* background-color: aqua; */
}

.tax-details-PRINT {
  width: 50%;
  height: 100%;
  margin-left: 2.5%;
  /* background-color: aqua; */
}

.invoice-bold-text-PRINT {
  font-weight: 600;
  font-size: 14px;
  color: gray;
  width: fit-content;
  margin-bottom: 2%;
  /* background-color: antiquewhite; */
}

.invoice-normal-text-PRINT {
  color: gray;
  font-size: 14px;
  margin-bottom: 5%;
  width: fit-content;
}

.barcode-box-PRINT {
  width: 80px;
  height: 80px;
  margin-top: 55%;
  margin-left: 2%;
  background-color: rgb(214, 214, 214);
}

.tax-detail-flex-box-PRINT {
  display: flex;
  margin-bottom: 2.5%;
  padding-left: 1%;
  padding-right: 1%;
  /* background-color: beige; */
}
.tax-detail-flex-box-total-PRINT {
  display: flex;
  margin-bottom: 2.5%;
  padding: 2%;
  background-color: rgb(148, 55, 255);
}

.label-tax-PRINT {
  font-size: 14px;
  color: gray;
}

.tax-data-value-PRINT {
  font-size: 14px;
  margin-left: auto;
  color: gray;
}

.label-tax-total-PRINT {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.tax-data-value-total-PRINT {
  font-size: 14px;
  margin-left: auto;
  color: white;
  font-weight: bold;
}

.company-signature-PRINT {
  width: 25%;
  height: 12%;
  background-color: rgb(215, 215, 215);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 3%;
}
