.mainBody-TM {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(251, 250, 250, 255);
  /* flex-direction: row; */
  /* gap: 2%; */
}

.part-TM {
  width: 96%;
  height: 100%;
  margin-left: 2%;
  /* background-color: rgb(104, 140, 172); */
  flex-direction: row;
}

.flex-data-TM {
  display: flex;
  flex-direction: row;
  /* background-color: aquamarine; */
  border-bottom: 1px solid rgb(227, 227, 227);
}

.heading-TM-setting {
  width: 100%;
  height: fit-content;
  /* background-color: aqua; */
  padding-top: 3%;
  padding-bottom: 2%;
  /* padding-left: 5%; */
  border-bottom: 1px solid rgb(197, 197, 197);
}

.checkbox-data-TM {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 20%;
  /* margin-top: 2%; */
  /* flex-direction: column; */
  /* background-color: bisque; */
  /* gap: 4%; */
}
.checkbox-data-TM-With-less-Padding {
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 20%;
  /* margin-top: 2%; */
  /* flex-direction: column; */
  /* background-color: bisque; */
  /* gap: 4%; */
}
.checkbox-input-TM {
  width: 18px;
  height: 18px;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
  border: none;
  border: 2px solid gray;
}

.checkbox-input-TM:checked::after {
  background-color: aqua;
}
.checkbox-data-text-TM {
  color: rgb(77, 77, 77);
  font-size: 14px;
}

.information-icon-TM {
  margin-top: auto;
  margin-bottom: auto;
  color: rgb(171, 171, 171);
  margin-left: 1%;
}

.small-text-TM {
  display: flex;
  margin-top: 1%;
  /* background-color: aqua; */
  width: fit-content;
}

.small-text-TM-inner {
  font-size: 12px;
  margin-right: 5px;
}

.small-info-icon-TM {
  color: rgb(171, 171, 171);
}
