
.top-bar{
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    background-color: rgb(226, 223, 223);
    margin-right: auto;
    justify-content: right;
    padding: 2px;
}

.icn{
    height: 3vh;
    width: 2.5%;
}

.purchaseTag{
    display: flex;
    background-color: white;
    justify-content: left;
}
.line{
    background-color: rgb(207, 205, 205);
    width: 100%;
    height: 1px;
}
.party-detail{
    /* position:absolute; */
    display: flex;
    width: 100%;
    height: 25vh;
    background-color: rgb(243, 238, 238);
    /* background-color: rgb(236, 138, 17); */
}
#dropdown-party{
       
    /* position: absolute; */
    /* background-color: yellow; */
    width: 12%;
    height: 14%;
     margin-top: auto;
    margin-bottom: auto;
     /* margin-right: auto; */
     margin-left: 2%;
    /* border: 0; */
    border-radius: 8px;
    border-color: black;
}
.number{
    width: 12%;
    height: 14%;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-right: auto; */
    margin-left: 2%;
    border: 1%;
    border-color: black;
    border-radius: 8px;
}

.item-table{
    width: 100vw;
    height: 20vh;
    margin-top: 1%;
    background-color: rgb(243, 238, 238);
}

.header-table{
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    /* background-color: blanchedalmond; */
}

.index-no{
    width: 3%;
    height: 100%;
    background-color: blueviolet;
    border-color: black;
    /* border: 5%; */
    border-width: 5px;
    border-radius: 10%;
}

.items-table{
    width: 37%;
    height: 100%;
    background-color: blueviolet;
    border-radius: 10%;
}

.items-qty{
    width: 10%;
    height: 100%;
    background-color: blueviolet;
    border-radius: 10%;
}

.items-units{
    width: 10%;
    height: 100%;
    background-color: blueviolet;
    border-radius: 10%;
}

.items-price-per-unit{
    width: 10%;
    height: 100%;
    display: block;
    background-color: blueviolet;
    border-radius: 10%;
}

.header-items{
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size:x-small;
    font-weight: bold;
    /* align-items: center; */
    /* justify-items: center; */

}

#double-row-cell{
    display: grid;
    grid-template-rows: auto auto;
}

#double-col-cell{
    display: grid;
    grid-template-columns: auto auto;
}

.inner-items{
    border: 1px solid rgba(0, 0, 0, 0.8);

}

.header-items-data{
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size:x-large;
    font-weight: bold;
    /* align-items: center; */
    /* justify-items: center; */

}
