#main-background-body {
  background-color: rgb(236, 236, 236);
  height: 100%;
  width: 100%;
  display: flex;
}

.top-bar-addSale {
  /* top: 0; */
  width: 100%;
  height: 4%;
  display: flex;
  /* background-color: rgb(226, 223, 223); */
  background-color: rgb(218, 218, 218);
  /* margin-right: auto;
  justify-content: right; */
  padding: 2px;
}

.icn-addSale {
  height: 2.5vh;
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  /* background-color: beige; */
}

.page-options-addSale {
  margin-left: auto;
  width: 8%;
  display: flex;
  margin-right: 1%;
  /* background-color: aqua; */
}
.form-purchase-addSale {
  display: block;
  top: 0;
}

.purchaseTag-addSale {
  /* position: absolute; */
  display: flex;
  height: 5%;
  width: 100%;
  /* background-color: green; */
  background-color: white;
  justify-content: left;
  box-shadow: 0px 8px 3px -8px #393939;
}
.purchaseTag-afterSale {
  /* position: absolute; */
  display: flex;
  height: 7%;
  width: 100%;
  /* background-color: green; */
  background-color: white;
  justify-content: left;
  box-shadow: 0px 8px 3px -8px #393939;
  /* border-top: 5px solid white; */
}

#toggle-switch-add-sale {
  margin-top: auto;
  margin-bottom: auto;
  height: 80%;
  /* background-color: antiquewhite; */
}
.headingTag-addSale {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  font-size: 18px;
  font-weight: bold;
}
.line-addSale {
  background-color: rgb(207, 205, 205);
  width: 100%;
  height: 1px;
}
.party-detail-addPurchase-addSale {
  /* position:absolute; */
  display: flex;
  width: 100%;
  height: 25vh;
  /* background-color: rgb(243, 238, 238);
    background-color: rgb(236, 138, 17); */
}
.party-detail-part1-addPurchase-addSale {
  /* background-color: aqua; */
  /* margin-left: 1%; */
  width: 50%;
  display: flex;
}
#dropdown-party-addPurchase-addSale {
  /* position: absolute; */
  /* background-color: yellow; */
  width: 25%;
  height: 17%;
  margin-top: 5%;
  /* margin-bottom: auto; */
  /* margin-right: auto; */
  /* margin-left: 2%; */
  /* border: 0; */
  margin-left: 3%;
  border-width: 1px;
  border-radius: 4px;
  font-size: small;
  padding-left: 1%;
  padding-right: 1%;
  /* border-color: black; */
  cursor: pointer;
  border: 1px solid #ccc;
  outline: none;
}
.number-addPurchase-addSale {
  width: 20%;
  height: 17%;
  margin-top: 5%;
  /* margin-top: auto;
      margin-bottom: auto; */
  /* margin-right: auto; */
  margin-left: 2%;
  font-size: small;
  /* border: 1%; */
  border-width: 1px;
  /* border-color: black; */
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 1%;
}
.party-detail-part2-addPurchase-addSale {
  /* background-color: rgb(151, 151, 239); */
  /* display: block; */
  width: 50%;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: right;
  align-items: right;

  /* justify-content: left; */
  /* position: relative; */
}
.party-detail-part2-insideDiv-addPurchase-addSale {
  /* background-color: yellow; */
  /* position: relative; */
  margin-right: 40px;
  height: 50%;
  /* width: 40%; */
  /* height: 60%; */
  margin-top: 5%;
  display: block;
  /* grid-template-columns: auto auto; */
  /* grid-auto-flow: row; */
  /* grid-row-gap: 0; */
  /* gap: 2%; */
  /* margin: 0 auto; */
}

.invoice-info-box-Sale {
  display: flex;
  /* background-color: greenyellow; */
}

.upperButton-addPurchase-addSale {
  /* width: 30%; */
  height: 60%;
  width: 60%;
  margin-bottom: 10px;
  /* border: 1px solid #ccc; */
  margin-left: auto;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  background-color: rgb(236, 236, 236);
  outline: none;
}

.upperButton-addPurchase-addSale:focus {
  /* border-color: rgb(30, 144, 255); */
  border-bottom: 2px solid rgb(30, 144, 255);
}

.item-table-addSale {
  width: 100vw;
  height: 20vh;
  margin-top: 1%;
  background-color: rgb(243, 238, 238);
  display: block;
}

.header-table-addPurchase-addSale {
  width: 100%;
  height: 20%;
  display: block;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  /* background-color: blanchedalmond; */
}

.index-no-addSale {
  width: 3%;
  height: 100%;
  /* background-color: blueviolet; */
  border-color: black;
  /* border: 5%; */
  border-width: 5px;
  border-radius: 10%;
}

.items-table-addPurchase-addSale {
  width: 37%;
  height: 100%;
  /* background-color: blueviolet; */
  border-radius: 10%;
}

.items-qty-addSale {
  width: 10%;
  height: 100%;
  /* background-color: blueviolet; */
  border-radius: 10%;
}

.items-units-addSale {
  width: 10%;
  height: 100%;
  /* background-color: blueviolet; */
  border-radius: 10%;
}

.items-price-per-unit-addSale {
  width: 10%;
  height: 100%;
  display: block;
  /* background-color: blueviolet; */
  border-radius: 10%;
}

.header-items-addSale {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: x-small;
  font-weight: bold;
  /* align-items: center; */
  /* justify-items: center; */
}

#double-row-cell-addSale {
  display: grid;
  grid-template-rows: auto auto;
}

#double-col-cell-addSale {
  display: grid;
  grid-template-columns: auto auto;
}

.inner-items-addSale {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.header-items-data-addSale {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: x-large;
  font-weight: bold;
  /* align-items: center; */
  /* justify-items: center; */
}

.responsive-table-addSale {
  width: 100vw;
  /* background-color: aqua; */
}
#td-addSale-heading {
  /* padding: 8px;
  padding-left: 0px;
  padding-right: 0px; */

  padding: 0px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  outline: none;
  border: 1pt solid rgb(201, 201, 201);
  background-color: rgb(255, 255, 255);
  color: rgb(79, 79, 108);
  white-space: nowrap;
}
#td-addSale-heading-tax {
  /* padding: 8px;
  padding-left: 0px;
  padding-right: 0px; */

  padding: 0px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  outline: none;
  border: 1pt solid rgb(201, 201, 201);
  /* border-right: 1px solid rgb(255, 255, 255); */
  background-color: rgb(255, 255, 255);
  color: rgb(91, 91, 99);
  white-space: nowrap;
  display: flex;
}
#td-addSale {
  outline: none;
  border: 1pt solid rgb(201, 201, 201);
  border-bottom: 0px;
  border-top: 0px;
  /* background-color: rgb(237, 237, 249); */
  background-color: rgba(243, 244, 248, 255);
  font-size: 12px;
  padding: 6px;
}

.addSale-heading-tax {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid rgb(218, 218, 218);
  /* background-color: #393939; */
}

.tax-dropdown-addSale {
  width: 100%;
  /* height: 50%; */
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
}

.p-per-u-box {
  display: flex;
  /* width: 100%; */
  height: 100%;
  flex-direction: column;
  /* border-bottom: 1pt solid rgb(201, 201, 201); */
  /* background-color: rgb(162, 162, 162); */
}

.dropdown-addSale {
  outline: 0px;
  border: 0px;
}
#dropdown-addSale-tax {
  outline: 0px;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
}

#td-addSale-diffColor {
  outline: none;
  border: 1pt solid rgb(201, 201, 201);
  border-bottom: 0px;
  border-top: 0px;
  /* background-color: rgb(235, 235, 235); */
  background-color: white;
  font-size: 12px;
  padding: 6px;
}

.td-input-addSale {
  outline: none;
  border: 1pt solid rgb(201, 201, 201);
  background-color: rgb(240, 251, 255);
}
.td-input-addSale-diff-color {
  outline: none;
  border: 1pt solid rgb(201, 201, 201);
  background-color: rgb(214, 214, 214);
}
.table-2nd-input-addpurchase-addSale {
  width: 100%;
  /* background-color: rgb(243, 238, 238); */
  /* background-color: rgb(235, 235, 255); */
  border: 0ch;
  outline: none;
  /* background-color: rgb(237, 237, 249); */
  background-color: rgba(243, 244, 248, 255);
}
.table-2nd-input-addpurchase-addSale-DifferentColor {
  width: 100%;
  /* background-color: rgb(243, 238, 238); */
  /* background-color: rgb(235, 235, 235); */
  background-color: white;
  border: 0ch;
  outline: none;
}
.totalAmountText {
  /* background-color: yellow; */
  width: fit-content;
  height: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: 3%;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
}

.table-2nd-input-addpurchase-addSale:focus {
  border: solid 1px rgba(243, 244, 248, 255);
}

.add-row-button-addSale {
  position: absolute;
  /* bottom: 10%; */
  left: 2%;
  border: solid 1px rgb(30, 144, 255);
  color: rgb(30, 144, 255);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: medium;
  border-radius: 4px;
  cursor: pointer;
  /* background-color: white; */
  /* top: 1%; */
  margin-top: 7px;
}
.white-strip-AddRow-Btn {
  width: 100%;
  height: 5%;
  position: absolute;
  vertical-align: middle;
  background-color: white;
  border-bottom: 1px solid rgb(218, 218, 218);
  border-top: 1px solid rgb(218, 218, 218);
}

#submit-button-addPurchase-addSale {
  position: fixed;
  /* float: right; */
  /* margin-right: 20px; */
  right: 20px;
  bottom: 0;
  width: 8%;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: small;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-color: aliceblue;
  background-color: rgb(30, 144, 255);
}

.white-strip-bottom-Sale {
  position: fixed;
  /* float: right; */
  /* margin-right: 20px; */
  /* margin-bottom: 20px; */
  bottom: 0;
  width: 100%;
  height: 8%;
  border-top: 1px solid rgb(200, 200, 200);
  background-color: white;
}

.add-row-btn-row {
  width: 100vw;
  background-color: white;
}

#balance-box-addSale {
  float: right;
  margin-right: 40px;
  width: fit-content;
  /* background-color: green; */
  display: block;
  margin-top: 3%;
  /* margin-top: 50px; */
}

.balance-box-input-addSale {
  /* background-color: aqua; */
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid #ccc;
  outline: none;
  margin-left: auto;
  font-size: 14px;
  padding-left: 10px;
}

.balance-box-input-addSale:focus {
  /* border-color: rgb(30, 144, 255); */
  border: 2px solid rgb(30, 144, 255);
}

.balance-box-label-addSale {
  margin-right: 10px;
  height: 60%;
  font-size: 12px;
  /* font-weight: 600; */
  color: rgb(122, 122, 122);
  /* background-color: aqua; */
}

.balance-box-data-Sale {
  display: flex;
  /* background-color: antiquewhite; */
}

input[type="date"] {
  font-size: small;
}

.afterSale-mainBody {
  /* background-color: antiquewhite; */
  width: 100%;
}

.checkbox-preview-data {
  display: flex;
  gap: 1%;
  width: 14%;
  margin-left: auto;
  /* background-color: antiquewhite; */
}
.checkbox-input-preview {
  width: 10%;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}
.checkbox-label-preview {
  font-size: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.save-btn-preview {
  color: rgb(22, 122, 252);
  font-weight: 600;
  font-size: 14px;
  width: 8%;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  border-left: 1px solid rgb(202, 202, 202);
  cursor: pointer;
  /* background-color: aquamarine; */
}

.lowerBody-preview {
  height: 88%;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  border-top: 1px solid rgb(186, 186, 186);
}

.left-part-lower-body-preview {
  height: 70%;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231);
  overflow: auto;
}
.right-part-lower-body-preview {
  height: 100%;
  width: 20%;
  background-color: rgb(255, 255, 255);
}

.center-part-lower-body-preview {
  height: 100%;
  width: 60%;
  background-color: rgba(243, 243, 243, 255);
}

.pdf-div-afterSale {
  width: 60%;
  height: 90%;
  margin-left: 20%;
  margin-top: 2%;
  background-color: white;
  overflow: auto;
}

.sidebar-heading-preview {
  width: 100%;
  height: 6%;
  background-color: white;
  position: relative;
}

.inner-text-preview-sidebar {
  height: fit-content;
  width: fit-content;
  position: absolute;
  /* background-color: green; */
  /* margin-top: auto;
  margin-bottom: auto; */
  top: 0; /* ✔️ Make top 0 */
  bottom: 0; /* ✔️ Make bottom 0 */
  left: 0; /* ✔️ Make left 0 */
  right: 0; /* ✔️ Make right 0 */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-weight: 550;
  color: gray;
}

.sidebar-data-box-preview {
  width: 100%;
  height: 8%;
  /* background-color: antiquewhite; */
  position: relative;
  background-color: white;
  margin-bottom: 4px;
  /* padding: 10px; */
}

.inner-text-preview-sidebar-data {
  height: fit-content;
  width: fit-content;
  position: absolute;
  /* background-color: green; */
  /* margin-top: auto;
  margin-bottom: auto; */
  top: 0; /* ✔️ Make top 0 */
  bottom: 0; /* ✔️ Make bottom 0 */
  left: 0; /* ✔️ Make left 0 */
  right: 0; /* ✔️ Make right 0 */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 540;
}

.sidebar-lower-part-color {
  height: 30%;
  width: 20%;
  left: 0;
  top: 70%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.select-color-text {
  /* background-color: aqua; */
  text-align: left;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 14px;
  color: gray;
  font-weight: bold;
}
.selected-color-div {
  width: 100%;
  height: 12%;
  margin-top: 5%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
}
.selected-color-box {
  width: 10%;
  height: 100%;
  background-color: rgba(222, 227, 255, 255);
  border-radius: 3px;
  margin-left: 5%;
}
.selected-color-text {
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  color: gray;
}

.colors-row {
  width: 90%;
  height: 10%;
  /* background-color: #ccc; */
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
}

.color-boxes {
  height: 100%;
  width: 10%;
  border-radius: 2px;
  background-color: rgba(222, 227, 255, 255);
  margin-right: 3%;
}
.window-addSale {
  width: 14%;
  height: 100%;
  background-color: white;
  position: relative;
  top: 3%;
  float: left;
  margin-left: 1%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  z-index: 10;
}

.cross-without-circle {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 12px;
  margin-right: 5px;
}

.window-inner-text {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  margin-left: 10px;
}

.upper-box-right-part {
  height: 50%;
  width: 90%;
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  background-color: rgba(222, 227, 255, 255);
}

.sale-invoice-text-right-part {
  text-align: left;
  width: 90%;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 8%;
  color: rgb(102, 102, 102);
}

.share-options {
  width: 90%;
  margin-left: 5%;
  height: 8%;
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  /* background-color: #a7a7a7; */
}

.share-options-normal {
  width: 90%;
  margin-left: 5%;
  height: 9%;
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  /* background-color: #a7a7a7; */
}
.share-box {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* background-color: antiquewhite; */
}
.share-box-normal {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* background-color: antiquewhite; */
}
.whatsapp-icon {
  width: 80%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  color: rgb(92, 255, 47);
}
.gmail-icon {
  width: 80%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  color: rgb(255, 77, 0);
}
.message-icon {
  width: 80%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  color: rgb(92, 255, 47);
}
.icon-text-share-box {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 12px;
  font-weight: bold;
  color: rgb(83, 83, 83);
}

.download-icon {
  width: 60%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  color: rgb(47, 144, 255);
  border: 1px solid rgb(47, 144, 255);
  border-radius: 4px;
}

.print-icon {
  width: 60%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  color: rgb(47, 144, 255);
  border: 1px solid rgb(47, 144, 255);
  border-radius: 4px;
}
.print-icon-normal {
  width: 60%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  font-size: 12px;
  /* color: rgb(47, 144, 255); */
  background-color: rgb(47, 144, 255);
  border: 1px solid rgb(47, 144, 255);
  border-radius: 4px;
}

.plus-addSalePage {
  height: 80%;
  width: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 6px;
  color: rgb(0, 140, 255);
}

.img_right_side_afterSale {
  width: 60%;
  height: 50%;
  margin-left: 20%;
  margin-top: 25%;
}

.collect-payment-btn {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  color: white;
  background-color: red;
  padding: 8px;
  border-radius: 20px;
  font-size: 14px;
}
