.top-bar-addSale {
  /* top: 0; */
  width: 100%;
  height: 10%;
  display: flex;
  background-color: rgb(226, 223, 223);
  margin-right: auto;
  justify-content: right;
  padding: 2px;
}

.icn-addSale {
  height: 3vh;
  width: 2.5%;
}

.form-purchase-addSale {
  display: block;
  top: 0;
}

.purchaseTag-addSale {
  /* position: absolute; */
  display: flex;
  background-color: white;
  justify-content: left;
}
.line-addSale {
  background-color: rgb(207, 205, 205);
  width: 100%;
  height: 1px;
}
.party-detail-addPurchase-addSale {
  /* position:absolute; */
  display: flex;
  width: 100%;
  height: 25vh;
  /* background-color: rgb(243, 238, 238);
    background-color: rgb(236, 138, 17); */
}
.party-detail-part1-addPurchase-addSale {
  /* background-color: aqua; */
  /* margin-left: 1%; */
  width: 50%;
  display: flex;
}
#dropdown-party-addPurchase-addSale {
  /* position: absolute; */
  /* background-color: yellow; */
  width: 20%;
  height: 15%;
  margin-top: 5%;
  /* margin-bottom: auto; */
  /* margin-right: auto; */
  /* margin-left: 2%; */
  /* border: 0; */
  margin-left: 3%;
  border-width: 1px;
  border-radius: 2px;
  /* border-color: black; */
  cursor: pointer;
  border: 1px solid #ccc;
  outline: none;
}
.number-addPurchase-addSale {
  width: 20%;
  height: 14%;
  margin-top: 5%;
  /* margin-top: auto;
      margin-bottom: auto; */
  /* margin-right: auto; */
  margin-left: 2%;
  /* border: 1%; */
  border-width: 1px;
  /* border-color: black; */
  border-radius: 2px;
  border: 1px solid #ccc;
  outline: none;
}
.party-detail-part2-addPurchase-addSale {
  /* background-color: rgb(151, 151, 239); */
  /* display: block; */
  width: 50%;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: right;
  align-items: right;

  /* justify-content: left; */
  /* position: relative; */
}
.party-detail-part2-insideDiv-addPurchase-addSale {
  /* background-color: yellow; */
  /* position: relative; */
  margin-right: 40px;
  /* width: 40%; */
  /* height: 60%; */
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto;
  /* gap: 2%; */
  /* margin: 0 auto; */
}

.upperButton-addPurchase-addSale {
  /* width: 30%; */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.upperButton-addPurchase-addSale:focus {
  /* border-color: rgb(30, 144, 255); */
  border: 2px solid rgb(30, 144, 255);
}

.item-table-addSale {
  width: 100vw;
  height: 20vh;
  margin-top: 1%;
  background-color: rgb(243, 238, 238);
  display: block;
}

.header-table-addPurchase-addSale {
  width: 100%;
  height: 20%;
  display: block;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  /* background-color: blanchedalmond; */
}

.index-no-addSale {
  width: 3%;
  height: 100%;
  /* background-color: blueviolet; */
  border-color: black;
  /* border: 5%; */
  border-width: 5px;
  border-radius: 10%;
}

.items-table-addPurchase-addSale {
  width: 37%;
  height: 100%;
  /* background-color: blueviolet; */
  border-radius: 10%;
}

.items-qty-addSale {
  width: 10%;
  height: 100%;
  /* background-color: blueviolet; */
  border-radius: 10%;
}

.items-units-addSale {
  width: 10%;
  height: 100%;
  /* background-color: blueviolet; */
  border-radius: 10%;
}

.items-price-per-unit-addSale {
  width: 10%;
  height: 100%;
  display: block;
  /* background-color: blueviolet; */
  border-radius: 10%;
}

.header-items-addSale {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: x-small;
  font-weight: bold;
  /* align-items: center; */
  /* justify-items: center; */
}

#double-row-cell-addSale {
  display: grid;
  grid-template-rows: auto auto;
}

#double-col-cell-addSale {
  display: grid;
  grid-template-columns: auto auto;
}

.inner-items-addSale {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.header-items-data-addSale {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: x-large;
  font-weight: bold;
  /* align-items: center; */
  /* justify-items: center; */
}

.responsive-table-addSale {
  width: 100vw;
  /* background-color: aqua; */
}

td {
  border: 1pt solid rgb(169, 169, 169);
  /* background-color: aqua; */
}

.table-2nd-input-addpurchase-addSale {
  width: 100%;
  /* background-color: rgb(243, 238, 238); */
  background-color: rgb(242, 242, 242);
  border: 0ch;
  outline: none;
}

.table-2nd-input-addpurchase-addSale:focus {
  border: solid 1px rgb(30, 144, 255);
}

#add-row-button-addSale {
  position: absolute;
  /* bottom: 10%; */
  left: 2%;
  border: solid 1px rgb(30, 144, 255);
  color: rgb(30, 144, 255);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: medium;
  border-radius: 4px;
  cursor: pointer;
  /* top: 1%; */
  /* margin-top: 5px; */
}

#submit-button-addPurchase-addSale {
  position: fixed;
  /* float: right; */
  /* margin-right: 20px; */
  right: 20px;
  bottom: 0;
  width: 8%;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: small;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-color: aliceblue;
  background-color: rgb(30, 144, 255);
}

#balance-box-addSale {
  float: right;
  margin-right: 40px;
  width: fit-content;
  /* background-color: green; */
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 50px;
}

.balance-box-input-addSale {
  /* background-color: aqua; */
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid #ccc;
  outline: none;
}

.balance-box-input-addSale:focus {
  /* border-color: rgb(30, 144, 255); */
  border: 2px solid rgb(30, 144, 255);
}

.balance-box-label-addSale {
  margin-right: 10px;
  font-size: small;
  font-weight: 600;
  color: rgb(122, 122, 122);
}
