.main-bankAccounts {
  height: 100vh;
  width: 100%;
  background-color: rgb(207, 199, 199);
  /* position:relative;
      display: block; */
}

.upperDiv-bankAccounts {
  /* position: absolute; */
  width: 100%;
  height: 15%;
  /* display:block; */
  /* margin-bottom: 10%; */
  background-color: white;
}

.upperDivPart1-bankAccounts {
  display: flex;
  /* background-color: cornflowerblue; */
  width: 100%;
  height: 60%;
}

.input-business-bankAccounts {
  /* margin-left: 2%; */
  padding: 1%;
  /* background-color: yellow; */
  /* width: 20%; */
  /* height: 100%; */
  width: 30%;
  height: 60%;
}

#business-entry-bankAccounts {
  font-size: 120%;
  /* height: 60%; */
  width: 80%;
  outline: none;
  border: 0px;
}
#business-name-save-btn-bankAccounts {
  opacity: 0;
  background-color: #00a2ed;
  color: white;
  font-size: small;
  font-weight: 600;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  border: 0px;
  margin-left: 6px;
}
#business-entry-bankAccounts:focus {
  border-bottom: 1px solid black;
}
#business-entry-bankAccounts:focus + #business-name-save-btn-bankAccounts {
  border-bottom: 1px solid black;
  opacity: 1;
}
.marginDiv-bankAccounts {
  display: flex;
  margin-left: auto;
  /* margin mene upar  wala change kiya hai */
  padding: 1%;
  /* margin-right:1%; */
  width: 60%;
  justify-content: right;
  /* background-color: aqua; */
}

.saleBtnDiv-bankAccounts {
  display: flex;
  /* margin-right: auto; */
  margin-right: 10px;
  width: 20%;
  height: 100%;
  /* background-color: bisque; */
}

.plusSale-bankAccounts {
  color: white;
  position: absolute;
  margin-left: 0.8%;
  margin-top: 0.6%;
  margin-right: 10vw;
  /* margin-top: 1%; */
  /* font-weight: 900; */
}

.addBtnSale-bankAccounts {
  height: 80%;
  width: 100%;
  color: white;
  font-size: large;
  font-weight: 700;
  background-color: red;
  border: 0;
  border-radius: 24px;
}

.purchaseBtnDiv-bankAccounts {
  display: flex;
  /* margin-right: auto; */
  margin-right: 10px;
  width: 24%;
  height: 100%;
  /* background-color: bisque; */
}

.plusSale-purchase-bankAccounts {
  color: white;
  position: absolute;
  margin-left: 0.6%;
  margin-top: 0.6%;
  margin-right: 10vw;
}

.addBtnPurchase-bankAccounts {
  height: 80%;
  width: 100%;
  color: white;
  font-size: large;
  font-weight: 700;
  background-color: blue;
  border: 0;
  border-radius: 24px;
}

.moreBtnDiv-bankAccounts {
  display: flex;
  /* margin-right: auto; */
  margin-right: 10px;
  width: 20%;
  height: 100%;
  /* background-color: bisque; */
}

.plusSaleMore-bankAccounts {
  color: blue;
  position: absolute;
  margin-left: 0.8%;
  margin-top: 0.6%;
  margin-right: 10vw;
}

.addBtnMore-bankAccounts {
  height: 80%;
  width: 100%;
  color: blue;
  font-weight: 700;
  /* margin-left: auto; */
  /* margin-left: 7%; */
  font-size: large;
  background-color: white;
  border: 1;
  border-radius: 24px;
  border-color: blue;
}

.settingBtnDiv-bankAccounts {
  width: 5%;
  /* background-color: beige; */
  /* margin-top: 2%; */
}
.setting-bankAccounts {
  /* margin-top: 0%; */
  /* margin-left: 2%; */
  width: 100%;
  height: 70%;
  /* flex-basis: 60%; */
}

.horizontal-line-bankAccounts {
  width: 100%;
  height: 1%;
  background-color: rgb(173, 171, 171);
  /* margin-top:7%; */
}
#blue-line-bankAccounts {
  background-color: cornflowerblue;
  height: 2px;
}
.heading-bankAccounts {
  font-size: large;
  font-weight: 550;
  color: cornflowerblue;
  /* margin-top: 2px; */
  background-color: rgb(245, 245, 245);
  padding: 8px;
  padding-bottom: 10px;
}

.lowerBody-bankAccounts {
  /* margin-top:1%;
      margin-left:1%; 
      margin-right:1%; */
  /* margin-bottom: 10%; */
  margin-left: 1%;
  margin-right: 1%;
  /* height: 200%; */
  width: 98%;
  height: 82%;
  margin-top: 1%;

  /* width:97%; */
  background-color: white;
}

.lowerBody-part1-bankAccounts {
  /* background-color: aqua; */
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  /* margin-top: 2%; */
  /* height: 200%; */
  width: 96%;
  height: 90%;
  /* isme pata nahi ku lowerBody-bankAccounts
    se shuru nahi ho rha hai .. lagta
    hai aur upar se shuru ho rha hai */
}
.lowerBody-part1-first-bankAccounts {
  /* background-color: blue; */
  height: 30%;
  /* display: block; */
  /* align-content: center; */
  /* justify-content: center; */
}
.lowerBody-part1-first-section1-bankAccounts {
  /* align-content: center; */
  position: relative;
  width: 50%;
  margin-left: 25%;
  top: 30%;
  /* margin-top: auto; */
  /* background-color: beige; */
}
.lowerBody-part1-first-section1-content-bankAccounts {
  font-size: x-large;
  font-weight: 700;
}
.content-bankAccounts {
  color: gray;
}
.lowerBody-part1-second-bankAccounts {
  /* background-color: aquamarine; */
  height: 30%;
  display: flex;
  gap: 2%;
}
.lowerBody-part1-second-section1-bankAccounts {
  /* background-color: darkgreen; */
  border: 2px solid rgb(195, 192, 192);
  border-radius: 4px;
  margin-left: 2%;
  height: 60%;
}
.lowerBody-part1-second-section2-bankAccounts {
  /* background-color: darkgreen; */
  height: 60%;
  border-radius: 4px;
  border: 2px solid rgb(195, 192, 192);
}
.lowerBody-part1-second-section3-bankAccounts {
  /* background-color: darkgreen; */
  margin-right: 2%;
  border-radius: 4px;
  border: 2px solid rgb(195, 192, 192);
  height: 60%;
}

.lowerBody-part1-third-bankAccounts {
  /* background-color: brown; */
  height: 30%;
  text-align: center;
}
.add-bank-account-bankAccounts {
  width: 15%;
  height: 20%;
  margin-top: 1%;
  color: white;
  font-weight: 700;
  background-color: red;
  border-radius: 25px;
}
.watch-video-bankAccounts {
  width: 12%;
  height: 20%;
  margin-left: 1.5%;
  color: red;
  font-weight: 700;
  background-color: white;
  border-radius: 25px;
}
