.parties-items-parties {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  display: block;
  background-color: rgb(240, 245, 255);
}

.upperDiv-parties {
  /* position: absolute; */
  width: 100%;
  height: 15%;
  display: block;
  /* margin-bottom: 10%; */
  background-color: whitesmoke;
  /* background-color: #00a2ed; */
}
.upperDivPart1-parties {
  display: flex;
  background-color: white;
  width: 100%;
  height: 60%;
}
.lowerBody-parties {
  display: flex;
  /* margin-top: 10%; */
  width: 100%;
  height: 82%;
  margin-top: 1%;
  /* background-color: aqua; */
}

.leftDiv-parties {
  /* position: absolute; */
  /* top: 16%; */
  width: 25%;
  height: 100%;
  overflow: auto;
  margin-left: 1%;
  /* margin-top: 10%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  background-color: rgb(255, 255, 255);
}

.rightDiv-parties {
  /* position: absolute; */
  /* top: 16%; */
  /* margin-left: 25%; */
  width: 75%;
  height: 100%;
  /* margin-top: 10%; */
  /* background-color: purple; */
}

.heading-parties {
  font-size: 11;
  font-weight: 550;
  color: cornflowerblue;
  /* margin-top: 2px; */
  /* background-color: rgb(209, 26, 26); */
  padding: 9px;
  padding-bottom: 14px;
}
.horizontal-line-parties {
  width: 100%;
  height: 1%;
  background-color: rgb(173, 171, 171);
  box-shadow: 0 4px 2px 0 rgba(134, 134, 134, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* margin-top:7%; */
}
#blue-line-parties {
  background-color: cornflowerblue;
  height: 2px;
}

.innerRightDiv-parties {
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: brown; */
}

.upperDivRight-parties {
  /* position: absolute; */
  margin: 2%;
  width: 96%;
  height: 19%;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 2px 0 rgba(134, 134, 134, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-color: blueviolet; */
  display: block;
}
.upperDivRight1-parties {
  display: flex;
  /* background-color: aqua; */
  width: 100%;
  height: 25%;
  /* margin-left: auto; */
}
.upperDivRight1-name-parties {
  /* width:10%; */
  margin-left: 1%;
  /* background-color: burlywood; */
}
.upperDivRight1-options-parties {
  margin-left: auto;
  /* position: relative; */
  display: flex;
  width: 10%;
  /* background-color: blue; */
}

.upperDivRight1-whatsapp-parties {
  margin-left: 20%;
  /* background-color: bisque; */
}
.upperDivRight1-alarm-parties {
  margin-left: 20%;
  /* background-color: bisque; */
}

.upperDivRight2-parties {
  /* background-color: blueviolet; */
  display: flex;
  height: 75%;
  /* margin-top: 10px; */
  /* max-height: fit-content; */
}
.upperDivRight2-part1-parties {
  /* background-color: crimson; */
  width: 50%;
  display: grid;
  padding-left: 1%;

  /* align-content: right; */
  /* height: 10%; */
  /* max-height: fit-content; */
}
.upperDivRight2-part1-phoneNo-parties {
  /* align-content: center; */
  /* background-color: brown; */
  /* font-weight: 400; */
  height: 10%;
  /* display: block; */
  /* gap: 0%; */
  /* margin: 0%; */
  /* align-items: left; */
  /* grid-template-columns: auto auto; */
}

.label-upper-partyDetails-phoneNo-parties {
  font-size: 90%;
  /* row-gap: 0%; */
  /* display: grid; */
  /* background-color: yellow; */
  /* align-items: left; */
  margin-bottom: 0%;
  /* margin: 0%; */
  /* align-self: auto; */
  width: 50%;
  /* margin-left: -5%; */
  /* height: 20%; */
}
.label-upper-partyDetails-Email-parties {
  font-size: 90%;
  /* row-gap: 0%; */
  /* display: grid; */
  /* margin-bottom: 0%; */
  /* background-color: beige; */
  /* justify-content: left; */

  width: 50%;
  /* margin-left: 2%; */
  /* height: 20%; */
}
.label-upper-partyDetails-setCreditLimit-parties {
  font-size: 90%;
  /* row-gap: 0%; */
  width: 50%;
  /* background-color: aquamarine; */
  /* display: grid; */
  /* margin-left: 3%; */

  /* background-color: yellow; */
}
.label-upper-partyDetails-parties {
  font-size: small;
  /* row-gap: 0%; */
  /* display: grid; */
  float: left;
  /* color: #00a2ed; */
  /* color: rgb(55, 55, 188);
  font-weight: 540; */
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  /* height: 20%; */
}
.blue-text {
  color: #00a2ed;
  font-weight: 550;
}

.upperDivRight2-part2-parties {
  /* background-color: rgb(147, 220, 20); */
  width: 50%;
  display: block;
  padding: 0%;
}
/* .upperDivRight2-part2-ADiv-parties{
  width: ;
} */
.label-upper-partyDetails-address-parties {
  font-size: 90%;
  /* row-gap: 0%; */
  /* width: 50%; */
  height: 35%;
  /* margin-left: 30%; */
  /* background-color: aquamarine; */
  /* display: grid; */
  /* margin-left: 3%; */
  margin-left: 60%;
  /* background-color: yellow; */
}
.label-upper-partyDetails-GSTIN-parties {
  font-size: 90%;
  /* row-gap: 0%; */
  /* width: 50%; */
  height: 35%;
  margin-left: 60%;
  /* background-color: rgb(255, 127, 249); */
  /* display: grid; */
  /* margin-left: 3%; */

  /* background-color: yellow; */
}
.lowerDivRight-parties {
  /* position: absolute; */
  /* top: 20%; */
  margin-left: 2%;
  width: 96%;
  height: 79%;
  margin-top: 1%;
  overflow: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.transaction-lowerDiv-parties {
  font-weight: bold;
  font-size: 14px;
  color: rgb(75, 70, 70);
}
.leftDivbtnSearch-parties {
  display: flex;
  /* background-color: aquamarine; */
}

.partyBtn-parties {
  margin: 5%;
  width: 40%;
  margin-left: 35%;
  background-color: orange;
  border: 0px;
  padding: 2%;
  font-size: smaller;
  color: white;
  outline: 0px;
  border-radius: 10px;
}

.partyBtn-parties:hover {
  background-color: rgb(243, 206, 136);
}
.searchIcon-class-parties {
  /* border: 1px solid black; */
  background-color: rgb(228, 218, 218);
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 10%;
  width: 10%;
  height: 14%;
  border-radius: 40px;
}
.searchIcon-parties {
  font-size: small;
  /* width: 10%;
  height: 10%; */
  /* margin: 7%;s */

  /* border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px; */

  /* padding: 10%; */
  /* border-spacing: 2px 2px; */
}

.transaction-search-parties {
  display: flex;
  font-weight: 0;
  margin-top: 2%;
  margin-left: 10px;
  /* background-color: green; */
}
.search-input-parties {
  /* margin: 8px; */
  margin-left: auto;
  margin-right: 2%;
  width: 25%;
  border-radius: 2px;
  border: 1px solid rgb(207, 204, 204);
}

.search-input-parties:focus {
  outline: none;
}

.Ttable-parties {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: rgb(66, 66, 94);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.plus-parties {
  font-weight: 800;
}
.input-business-parties {
  /* margin-left: 2%; */
  padding: 01%;
  /* background-color: yellow; */
  width: 30%;
  height: 60%;
}

#business-entry-parties {
  font-size: 120%;
  /* height: 60%; */
  width: 80%;
  outline: none;
  border: 0px;
}
#business-name-save-btn-parties {
  opacity: 0;
  background-color: #00a2ed;
  color: white;
  font-size: small;
  font-weight: 600;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  border: 0px;
  margin-left: 6px;
}
#business-entry-parties:focus {
  border-bottom: 1px solid black;
}
#business-entry-parties:focus + #business-name-save-btn-parties {
  border-bottom: 1px solid black;
  opacity: 1;
}
.saleBtnDiv-parties {
  /* display: flex;
  margin-right: auto;
  margin-right: 10px;
  width: 20%;
  height: 100%; */
  display: flex;
  /* margin-right: auto; */
  /* position: relative; */
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 15%;
  height: 60%;
  background-color: rgba(255, 229, 233, 255);
  border-radius: 24px;
  gap: 5px;
  margin-top: auto;
  margin-bottom: auto;
  /* background-color: bisque; */
}
.saleBtnDiv-parties:hover {
  /* background-color: rgb(242, 110, 110); */
  width: 16%;
  height: 61%;
}
.purchaseBtnDiv-parties {
  /* display: flex;
  margin-right: 10px;
  width: 24%;
  height: 100%; */
  display: flex;
  /* margin-right: auto; */
  /* position: relative; */
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 18%;
  height: 60%;
  background-color: rgba(210, 233, 255, 255);
  border-radius: 24px;
  gap: 5px;
  margin-top: auto;
  margin-bottom: auto;
  /* background-color: bisque; */
}
.purchaseBtnDiv-parties:hover {
  /* background-color: rgb(124, 124, 248); */

  width: 20%;
  height: 61%;
}

.moreBtnDiv-parties {
  /* display: flex; */
  /* margin-right: auto; */
  /* margin-right: 10px;
  width: 20%;
  height: 100%; */
  display: flex;
  /* margin-right: auto; */
  /* position: relative; */
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  width: 16%;
  height: 60%;
  background-color: white;
  border-radius: 24px;
  border: 1px solid rgb(0, 128, 255);
  gap: 5px;
  margin-top: auto;
  margin-bottom: auto;
  /* background-color: bisque; */
}
.moreBtnDiv-parties:hover {
  width: 18%;
  height: 61%;
}
.addBtnSale-parties {
  /* height: 80%;
  width: 100%;
  color: white;
  font-size: large;
  font-weight: 700;
  background-color: red;
  border: 0;
  border-radius: 24px; */
  color: red;
  font-size: small;
  font-weight: 550;
  font-family: "Cosmic", sans-serif;
  /* position: absolute; */
  /* background-color: red; */
  /* border: 0; */
  /* border-radius: 24px; */
  /* margin: auto; */
  margin-top: auto;
  /* transform: translate(-50%, -50%); */
  margin-bottom: auto;
}
.addBtnPurchase-parties {
  color: rgb(41, 155, 236);
  font-size: small;
  font-weight: 700;
  background-color: rgba(210, 233, 255, 255);
  border: 0;
  border-radius: 24px;
  margin-top: auto;
  margin-bottom: auto;
  /* height: 80%;
  width: 100%;
  color: white;
  font-size: large;
  font-weight: 700;
  background-color: blue;
  border: 0;
  border-radius: 24px; */
}
.addBtnMore-parties {
  /* height: 80%;
  width: 100%;
  color: blue;
  font-weight: 700;
  
  font-size: large;
  background-color: white;
  border: 1;
  border-radius: 24px;
  border-color: blue; */
  color: rgb(0, 128, 255);
  font-size: small;
  font-weight: 700;
  background-color: white;
  border: 0;
  border-radius: 24px;
  margin-top: auto;
  margin-bottom: auto;
}
/* .addBtnMore-parties:hover {
  background-color: rgb(223, 223, 247);
} */
.vertical-line-upperPart-parties {
  /* width: 1%; */
  height: 40%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: auto;
  margin-bottom: auto;
  /* color: black; */
  border: 0.5px solid rgb(205, 198, 198);
}
.plusSaleMore-parties {
  color: rgb(0, 128, 255);
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
  /* color: blue;
  position: absolute;
  margin-left: 0.8%;
  margin-top: 0.6%;
  margin-right: 10vw; */
}
.plusSale-purchase-parties {
  color: white;
  position: absolute;
  margin-left: 0.6%;
  margin-top: 0.6%;
  margin-right: 10%;
  /* color: white;
  position: absolute;
  margin-left: 0.6%;
  margin-top: 0.6%;
  margin-right: 10vw; */
}
.plusSale-parties {
  color: red;
  /* position: absolute; */
  /* background-color: #00a2ed; */
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
  /* color: white;
  position: absolute;
  margin-left: 0.8%;
  margin-top: 0.6%;
  margin-right: 10vw; */
  /* margin-top: 1%; */
  /* font-weight: 900; */
}

.plusPurchase-parties {
  color: rgb(41, 155, 236);
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
}
.settingBtnDiv-upperPart-parties {
  width: 3%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2.5%;
  /* background-color: beige; */
  /* margin-top: 2%; */
}
.setting-upperPart-parties {
  /* margin-top: 0%; */
  /* margin-left: 2%; */
  width: 100%;
  height: 70%;
  /* flex-basis: 60%; */

  color: rgb(166, 163, 163);
}

.setting-parties:hover {
  color: #00a2ed;
  cursor: pointer;
}
.printBtnDiv-upperPart-parties {
  width: 3%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
  /* background-color: blanchedalmond; */
}
.print-upperPart-parties {
  width: 100%;
  height: 70%;
  /* background-color: #ed1a3b; */
  /* flex-basis: 60%; */

  color: rgb(166, 163, 163);
}
.marginDiv-parties {
  display: flex;
  margin-left: auto;
  /* margin mene upar  wala change kiya hai */
  /* padding: 1%; */
  /* margin-right:1%; */
  width: 60%;
  justify-content: right;
  /* background-color: aqua; */
}
