.main-saleInvoice {
  display: block;
  width: 100%;
  height: 100vh;
}
.lowerDivSale-saleInvoice {
  position: absolute;
  width: 100%;
  height: 73%;
  top: 25%;
  overflow: auto;
  background-color: white;
}
.upperDiv-saleInvoice {
  /* same as dashboar,see later */
  /* position: absolute; */
  width: 100%;
  height: 5vh;
  /* display: block; */
  /* margin-bottom: 10%; */
  background-color: white;
}

.upperDivPart1-saleInvoice {
  display: flex;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* ye yahan par parties
    wale css se alg hai.. aur upar
    upperDiv define kiya hua
    ..kam toh ban gya par samajh nahi aya */
  /* background-color: brown; */
}

.middleDiv-saleInvoice {
  margin-top: 0.5%;
  margin-left: 1%;
  width: 98%;
  height: 18%;
  background-color: rgb(255, 255, 255);
}
.middleDiv-part1-saleInvoice {
  display: flex;
  height: 50%;
  /* background-color: aqua; */
}

.choose-months-saleInvoice {
  padding: 0.5%;
  /* background-color: yellow; */
}
#months-saleInvoice {
  border: none;
  /* height: 100%; */
  width: 100%;
  margin-top: 5px;
  font-size: large;
  color: rgb(45, 14, 117);
  font-weight: 550;
}
.choose-dates-saleInvoice {
  /* margin-left: 1%; */
  padding: 0.5%;
  /* width: fit-content + 50px; */
  height: 50%;
  display: flex;
  gap: 8px;
  margin-top: 5px;
  /* padding-right: 5px; */
  border: 1px solid rgb(210, 208, 208);
  border-radius: 4px;
  /* background-color: blue; */
}
#from-saleInvoice {
  height: 100%;
  /* background-color: gainsboro; */
  border: 0px;
  font-size: small;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
}
#between-label {
  /* width: 2%; */
  padding: 2px;
  border-radius: 4px;
  font-weight: 550;
  font-size: small;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px;
  background-color: rgb(227, 227, 228);
}
#to-saleInvoice {
  height: 100%;
  margin-right: 1%;
  border: 0px;
  font-size: small;
  /* font-weight: 550; */
}

#to-label {
  font-weight: 550;
  /* font-size: small; */
}
#firm-saleInvoice {
  margin-left: 1%;
  height: 100%;
  width: 20%;
  font-size: small;
  border: 1px solid rgb(217, 217, 217);
  /* background-color: rgb(48, 121, 185); */
}
.options-middlepart1-saleInvoice {
  /* background-color: blanchedalmond; */
  margin-top: 0.5%;
  width: 10%;
  margin-left: auto;
}

.graph-middlepart1-saleInvoice {
  height: 50%;
  width: 30%;
}
.report-middlepart1-saleInvoice {
  height: 50%;
  width: 30%;
}
.print-middlepart1-saleInvoice {
  height: 50%;
  width: 30%;
}
.middleDiv-part2-saleInvoice {
  height: 40%;
  /* background-color: rgb(39, 179, 17); */
  /* text-align: left; */
  /* display: flex; */
}
.content-middleDiv-part2-saleInvoice {
  width: 50%;
  height: 100%;
  margin-left: 0.5%;
  display: flex;
  gap: 10px;
  /* background-color: brown; */
}
#paid-block {
  width: 20%;
  height: 100%;
  background-color: rgb(143, 255, 120);
  opacity: 0.8;
  border-radius: 10px;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
}
#unpaid-block {
  width: 20%;
  height: 100%;
  background-color: rgb(140, 220, 255);
  opacity: 0.8;
  border-radius: 10px;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
}
#total-block {
  width: 20%;
  height: 100%;
  background-color: rgb(255, 226, 140);
  opacity: 0.8;
  border-radius: 10px;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
}
#plus,
#equal {
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
}
.plus-saleInvoice {
  font-weight: 550;
}
.marginDiv-saleInvoice {
  display: flex;
  margin-left: auto;
  /* margin mene upar  wala change kiya hai */
  /* padding: 1%; */
  /* margin-right:1%; */
  width: 60%;
  justify-content: right;
  /* background-color: aqua; */
}
.input-business-saleInvoice {
  /* margin-left: 2%; */
  /* padding:01%; */
  /* background-color: yellow; */
  margin-top: 0.5%;
  width: 30%;
  height: 100%;
}

#business-entry-saleInvoice {
  /* font-size: 130%;
  height: 50%;
  width: 80%; */
  font-size: 120%;
  /* height: 60%; */
  width: 80%;
  outline: none;
  border: 0px;
}
#business-name-save-btn-saleInvoice {
  opacity: 0;
  background-color: #00a2ed;
  color: white;
  font-size: small;
  font-weight: 600;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  border: 0px;
  margin-left: 6px;
}
#business-entry-saleInvoice:focus {
  border-bottom: 1px solid black;
}
#business-entry-saleInvoice:focus + #business-name-save-btn-saleInvoice {
  border-bottom: 1px solid black;
  opacity: 1;
}
.saleBtnDiv-saleInvoice {
  display: flex;
  /* margin-right: auto; */
  margin-right: 10px;
  width: 20%;
  height: 100%;
  margin-top: 0.5%;
  /* background-color: bisque; */
}
.purchaseBtnDiv-saleInvoice {
  display: flex;
  /* margin-right: auto; */
  margin-right: 10px;
  width: 24%;
  height: 100%;
  margin-top: 0.5%;
  /* background-color: bisque; */
}
.moreBtnDiv-saleInvoice {
  display: flex;
  /* margin-right: auto; */
  margin-right: 10px;
  width: 20%;
  height: 100%;
  margin-top: 0.5%;
  /* background-color: bisque; */
}
.addBtnSale-saleInvoice {
  height: 80%;
  width: 100%;
  color: white;
  font-size: large;
  font-weight: 700;
  background-color: red;
  border: 0;
  border-radius: 24px;
}
.addBtnPurchase-saleInvoice {
  height: 80%;
  width: 100%;
  color: white;
  font-size: large;
  font-weight: 700;
  background-color: blue;
  border: 0;
  border-radius: 24px;
}
.addBtnMore-saleInvoice {
  height: 80%;
  width: 100%;
  color: blue;
  font-weight: 700;
  /* margin-left: auto; */
  /* margin-left: 7%; */
  font-size: large;
  background-color: white;
  border: 1;
  border-radius: 24px;
  border-color: blue;
}
.plusSaleMore-saleInvoice {
  color: blue;
  position: absolute;
  margin-left: 0.8%;
  margin-top: 0.6%;
  margin-right: 10vw;
}
.plusSale-purchase-saleInvoice {
  color: white;
  position: absolute;
  margin-left: 0.6%;
  margin-top: 0.6%;
  margin-right: 10vw;
}
.plusSale-saleInvoice {
  color: white;
  position: absolute;
  margin-left: 0.8%;
  margin-top: 0.6%;
  margin-right: 10vw;
  /* margin-top: 1%; */
  /* font-weight: 900; */
}
.settingBtnDiv-saleInvoice {
  width: 5%;
  margin-top: 0.5%;
  /* background-color: beige; */
  /* margin-top: 2%; */
}
.setting-saleInvoice {
  /* margin-top: 0%; */
  /* margin-left: 2%; */
  width: 100%;
  height: 70%;
  /* flex-basis: 60%; */
}

.top-part-A-saleInvoice {
  display: flex;
  margin-left: 1%;
  /* background-color: green; */
}
.transaction-saleInvoice {
  text-align: left;
  margin: 10px;
  font-weight: 550;
}
.search-input-saleInvoice {
  height: 4vh;
  margin: 10px;
  margin-right: auto;
  border-radius: 5px;
  /* outline: 0px; */
  /* border: 0px; */
  border: 1px solid rgb(243, 240, 240);
}

.addBtnSale-sale2-saleInvoice {
  height: 4vh;
  width: 8vw;
  margin: auto;
  margin-right: 2%;
  color: white;
  font-weight: 545;
  font-size: small;
  background-color: red;
  border: 0;
  border-radius: 24px;
}
