/* .sidebarDiv {
  display: block;
  gap: 10px;
} */
.company-tag {
  display: flex;
  /* background-color: aqua; */
  padding: 6%;
  gap: 10px;
}
#lineU {
  width: 100%;
  height: 4px;
  /* color: white; */
  background-color: rgb(0, 0, 0);
}
#lineD {
  width: 100%;
  height: 0.01em;
  /* color: white; */
  background-color: rgb(105, 101, 101);
}
.profile-icon {
  color: orange;
  margin-top: auto;
  margin-bottom: auto;
  /* height: 15%;
  width: 15%; */
  margin-left: 2%;
  margin-right: 1%;
  font-size: xx-large;
}
.sidebar-Component {
  /* padding:0vmin; */
  /* margin: 0%; */
  position: relative;
  display: flex;
  margin: 0;
  padding: 1%;
  /* background-color: aliceblue; */
  margin-top: 3%;
  margin-left: 5%;
}

.icons {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
}

.sideBarText {
  font-weight: 400;
  font-size: medium;
  color: rgb(221, 221, 221);
  /* align-content: left; */
  /* margin-left: 20%; */
  /* margin-right: auto; */
}
.sideBarText-dropdown {
  font-weight: 400;
  font-size: medium;
  color: rgb(221, 221, 221);
  /* align-content: left; */
  /* margin-left: 20%; */
  /* margin-right: auto; */
}

.sidebar-Component:hover {
  background-color: rgb(9, 1, 39);
}

h3 {
  margin: 1%;
}

h2 {
  color: white;
}

.plus {
  margin-top: auto;
  margin-left: auto;
  margin-right: 2%;
  color: white;
}

.dropdown-container {
  /* position: static; */
  /* left: auto; */
  display: none;
  background-color: #17173a;
  /* width:100%; */
  /* padding-left: 8px; */
  /* justify-content: left; */
  /* margin-left: 50%; */
}

a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.downArrow {
  color: white;
  /* margin: auto; */
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
  transform: rotate(180);
}

/* #dropItems{
    left: auto;
    position: relative;
   } */

.sale-dropdown .sideBarText {
  /* color: red; */
  margin-left: 40%;
}
