.main-cheques {
  /* display: block; */
  height: 100%;
  width: 100%;
  background-color: rgb(207, 199, 199);
}

.upperDiv-cheques {
  /* same as dashboar,see later */
  /* position: absolute; */
  width: 100%;
  height: 8%;
  /* display: block; */
  /* margin-bottom: 10%; */
  background-color: white;
}

.upperDivPart1-cheques {
  display: flex;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* ye yahan par parties
          wale css se alg hai.. aur upar
          upperDiv define kiya hua
          ..kam toh ban gya par samajh nahi aya */
  /* background-color: brown; */
}

.marginDiv-cheques {
  display: flex;
  margin-left: auto;
  /* margin mene upar  wala change kiya hai */
  /* padding: 1%; */
  /* margin-right:1%; */
  width: 60%;
  justify-content: right;
  /* background-color: aqua; */
}
.input-business-cheques {
  /* margin-left: 2%; */
  /* padding:01%; */
  /* background-color: yellow; */
  padding: 1%;
  width: 30%;
  height: 100%;
}
/* .horizontal-line-cheques{
          width:100%;
          height: 1%;
          background-color: rgb(173, 171, 171);
          
        } */
#business-entry-cheques {
  font-size: 120%;
  /* height: 60%; */
  width: 80%;
  outline: none;
  border: 0px;
}
#business-name-save-btn-cheques {
  opacity: 0;
  background-color: #00a2ed;
  color: white;
  font-size: small;
  font-weight: 600;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  border: 0px;
  margin-left: 6px;
}
#business-entry-cheques:focus {
  border-bottom: 1px solid black;
}
#business-entry-cheques:focus + #business-name-save-btn-cheques {
  border-bottom: 1px solid black;
  opacity: 1;
}
.saleBtnDiv-cheques {
  display: flex;
  /* margin-right: auto; */
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 15%;
  height: 60%;
  background-color: rgba(255, 229, 233, 255);
  border-radius: 24px;
  gap: 5px;
  margin-top: auto;
  margin-bottom: auto;
  /* background-color: bisque; */
}
.saleBtnDiv-cheques:hover {
  /* background-color: rgb(242, 110, 110); */
  width: 16%;
  height: 61%;
}
.purchaseBtnDiv-cheques {
  display: flex;
  /* margin-right: auto; */
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 18%;
  height: 60%;
  background-color: rgba(210, 233, 255, 255);
  border-radius: 24px;
  gap: 5px;
  margin-top: auto;
  margin-bottom: auto;
  /* background-color: bisque; */
}
.purchaseBtnDiv-cheques:hover {
  /* background-color: rgb(124, 124, 248); */

  width: 20%;
  height: 61%;
}
.moreBtnDiv-cheques {
  display: flex;
  /* margin-right: auto; */
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  width: 16%;
  height: 60%;
  background-color: white;
  border-radius: 24px;
  border: 1px solid rgb(0, 128, 255);
  gap: 5px;
  margin-top: auto;
  margin-bottom: auto;
  /* background-color: bisque; */
}
.moreBtnDiv-cheques:hover {
  width: 18%;
  height: 61%;
}
.addBtnSale-cheques {
  color: red;
  font-size: small;
  font-weight: 550;
  font-family: "Cosmic", sans-serif;
  margin-top: auto;
  /* transform: translate(-50%, -50%); */
  margin-bottom: auto;
}
.addBtnPurchase-cheques {
  color: rgb(41, 155, 236);
  font-size: small;
  font-weight: 700;
  background-color: rgba(210, 233, 255, 255);
  border: 0;
  border-radius: 24px;
  margin-top: auto;
  margin-bottom: auto;
}
.addBtnMore-cheques {
  color: rgb(0, 128, 255);
  font-size: small;
  font-weight: 700;
  background-color: white;
  border: 0;
  border-radius: 24px;
  margin-top: auto;
  margin-bottom: auto;
}
.plusSaleMore-cheques {
  color: rgb(0, 128, 255);
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
}
.plusSale-purchase-cheques {
  color: white;
  position: absolute;
  margin-left: 0.6%;
  margin-top: 0.6%;
  margin-right: 10vw;
}
.plusPurchase-cheques {
  color: rgb(41, 155, 236);
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
}
.plusSale-cheques {
  color: red;
  /* position: absolute; */
  /* background-color: #00a2ed; */
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
  /* margin-top: 1%; */
  /* font-weight: 900; */
}
.settingBtnDiv-upperPart-cheques {
  width: 3%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2.5%;
  /* background-color: beige; */
  /* margin-top: 2%; */
}
.setting-upperPart-cheques {
  /* margin-top: 0%; */
  /* margin-left: 2%; */
  width: 100%;
  height: 70%;
  /* flex-basis: 60%; */
  color: rgb(166, 163, 163);
}
.setting-cheques:hover {
  color: #00a2ed;
  cursor: pointer;
}
.heading-cheques {
  font-size: 11;
  font-weight: 550;
  color: rgb(2, 3, 5);
  /* margin-top: 2px; */
  background-color: rgb(245, 245, 245);
  /* commented 6,8 */
  padding: 9px;
  padding-bottom: 14px;
}
#blue-line-cheques {
  background-color: cornflowerblue;
  height: 2px;
}
.horizontal-line-cheques {
  width: 100%;
  height: 1%;
  background-color: rgb(173, 171, 171);
  box-shadow: 0 4px 2px 0 rgba(134, 134, 134, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* margin-top:7%; */
}
.vertical-line-upperPart-cheques {
  /* width: 1%; */
  height: 40%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: auto;
  margin-bottom: auto;
  /* color: black; */
  border: 0.5px solid rgb(205, 198, 198);
}
.printBtnDiv-upperPart-cheques {
  width: 3%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
  /* background-color: blanchedalmond; */
}
.print-upperPart-cheques {
  width: 100%;
  height: 70%;
  /* background-color: #ed1a3b; */
  /* flex-basis: 60%; */

  color: rgb(166, 163, 163);
}
.vertical-line-upperPart-cheques {
  /* width: 1%; */
  height: 40%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: auto;
  margin-bottom: auto;
  /* color: black; */
  border: 0.5px solid rgb(205, 198, 198);
}
.middleDiv-cheques {
  margin-top: 0.1%;
  margin-right: 0.5%;
  width: 99.5%;
  height: 5%;
  background-color: white;
  justify-content: left;
}
.text-cheques {
  /* font-size: x-large; */
  color: rgb(121, 117, 117);
  font-weight: 550;

  padding: 0.75%;
}
.text-value-cheques {
  color: green;
}
.lowerDivSale-cheques {
  /* position: absolute; */
  margin-left: 1%;
  /* margin-right: 1%; */
  /* height: 200%; */
  width: 98%;
  height: 84%;
  overflow: auto;
  margin-top: 1%;

  /* width:97%; */
  background-color: white;
}

.top-part-A-cheques {
  display: flex;
  margin-top: 2%;
  /* margin-left: 1%; */
  /* background-color: green; */
}

.transaction-cheques {
  text-align: left;
  margin: 10px;
  font-weight: 550;
  font-size: medium;
  color: rgb(75, 70, 70);
}
.search-input-cheques {
  height: 3vh;
  width: 15%;
  margin-right: 1.5%;
  /* margin: 10px; */
  /* height: ; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  border-radius: 5px;
  /* outline: 0px; */
  /* border: 0px; */
  border: 1px solid rgb(188, 188, 188);
}

.addBtnSale-sale2-cheques {
  height: 4vh;
  width: 10vw;
  margin: auto;
  margin-right: 2%;
  color: white;
  font-weight: 500;
  background-color: blue;
  border: 0;
  border-radius: 24px;
}
